.ni-administrative {
  border-top: 1px solid map-get($c-scale-neutral, 'fill-8');
  border-bottom: 1px solid map-get($c-scale-neutral, 'fill-8');
  background-color: map-get($c-scale-neutral, 'fill-10');

  .contents {
    @include grid-parent-auto;

    max-width: $grid-max-width;
    margin: 0 auto;
  }

  &__credits {
    @include grid-child-auto-responsive(12, 12, 6, 6);

    display: block;
    align-items: center;
    justify-content: center;
    padding: 1.5rem $grid-gutter;
    border-bottom: 1px solid map-get($c-scale-neutral, 'fill-8');

    @media all and (min-width: #{$screen-lg-min}) {
      border-bottom: 0;
      padding-left: 8.5rem;
    }

    .type-byline {
      color: $c-primary;
      margin-bottom: 0;
    }

    .type-byline strong {
      display: inline;
    }
  }

  &__jsp-links {
    @include grid-child-auto-responsive(12, 12, 6, 6);

    padding: 1.5rem $grid-gutter;

    @media all and (min-width: #{$screen-lg-min}) {
      padding: 1.5rem 0;
    }

    ul {
      display: flex;
      flex-flow: row wrap;
    }

    li {
      width: 100%;
      margin-bottom: 1em;

      @media all and (min-width: #{$screen-lg-min}) {
        width: 35%;
        padding-right: $grid-gutter-lg;

        &:nth-child(even) {
          width: 65%;
        }

        &:nth-child(3), &:nth-child(4) {
          margin-bottom: 0;
        }
      }

      @media all and (min-width: #{$grid-max-width}) {
        width: 40%;

        &:nth-child(even) {
          width: 60%;
        }
      }
    }

    a {
      @extend .type-link;
      @extend .type-caption;

      margin-bottom: 0.5rem;
      display: inline;
      box-shadow: none;
      text-decoration: none;
      line-height: 1.5;
    }

    span.s-and-p {
      @media all and (min-width: #{$grid-max-width}) {
        white-space: nowrap;
      }
    }
  }
}
