.ni-back-to-top {
  position: fixed;
  opacity: 0;
  z-index: 2;
  bottom: 20px;
  right: 20px;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0);
  background-color: $c-white;
  box-shadow: $elevation-z04;
  transition: opacity 0.2s ease, box-shadow 0.1s linear;

  &:hover {
    box-shadow: $elevation-z06;
    background-color: map-get($c-scale-neutral, 'fill-10');
  }

  &:active {
    box-shadow: $elevation-z02;
    background-color: map-get($c-scale-neutral, 'fill-9');
  }

  &.active {
    opacity: 1 !important;
  }

  svg.arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .arrow-icon path {
      fill: map-get($c-scale-neutral, 'fill-4');
    }
  }

  svg.circle {
    transform: rotate(-90deg);
    position: absolute;
    top: -1px;
    right: -1px;

    circle {
      transition: all 0.1s linear;
      stroke-dasharray: 195;
      stroke-dashoffset: 195;
      stroke: map-get($c-scale-neutral, 'fill-1');
    }
  }
}
