.ni-button {
  @extend .type-label;

  //display: inline-flex;
  justify-content: center;
  color: map-get($c-variable, 'text-4');
  text-decoration: none;
  background-color: map-get($c-variable, 'fill-4');
  font-weight: 600;
  margin: 0;
  border: 1px solid map-get($c-variable, 'fill-4');
  border-radius: $base-border-radius;
  padding: 0.875rem 1rem;
  cursor: pointer;
  white-space: nowrap;
  align-items: center;
  transition: background-color 0.1s $default-transition-easing;

  &:hover {
    background-color: map-get($c-variable, 'fill-3');
    border-color: map-get($c-variable, 'fill-3');
    text-decoration: none;
  }

  &:active {
    background-color: map-get($c-variable, 'fill-2');
    border-color: map-get($c-variable, 'fill-2');
    text-decoration: none;
  }

  // Prevent hover state from sticking on mobile
  @media (hover: none) and (pointer: coarse) {
    &:hover {
      background-color: map-get($c-variable, 'fill-4');
      text-decoration: none;
    }
  }

  &--disabled {
    opacity: 0.4;
    pointer-events: none;
  }

  &--outline {
    background-color: transparent;
    border-color: map-get($c-scale-neutral-alpha, 'fill-8');
    color: $c-primary;

    &:hover {
      background-color: map-get($c-variable, 'fill-4');
      border-color: map-get($c-variable, 'fill-4');
      color: map-get($c-variable, 'text-4');
    }

    &:active {
      background-color: map-get($c-variable, 'fill-3');
      border-color: map-get($c-variable, 'fill-3');
      color: map-get($c-variable, 'text-3');
    }
  }

  &--text {
    @extend .ni-button--outline;

    border-color: transparent;

    &:hover {
      background-color: map-get($c-scale-neutral-alpha, 'fill-11');
      border-color: map-get($c-scale-neutral-alpha, 'fill-11');
      color: map-get($c-scale-neutral-alpha, 'text-11');
    }

    &:active {
      background-color: map-get($c-scale-neutral-alpha, 'fill-10');
      border-color: map-get($c-scale-neutral-alpha, 'fill-10');
      color: map-get($c-scale-neutral-alpha, 'text-10');
    }
  }

  &--condensed {
    padding: 0.375rem 1rem;
  }

  .ni-icon {
    color: inherit;
  }

  .ni-icon:first-child {
    margin-right: 0.5rem;
  }

  .ni-icon:last-child {
    margin-left: 0.5rem;
  }
}

.ni-button-group {
  display: flex;

  .ni-button:not(.active) {
    @extend .ni-button--outline;
  }

  .ni-button:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
  }

  .ni-button:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
