.ni-divider {
  position: relative;
  width: 100%;
  height: 1px;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    border-bottom: 1px solid map-get($c-scale-neutral, 'fill-8');
  }

  &.ni-row::after {
    width: calc(100% - #{$grid-gutter * 2});

    @media all and (min-width: #{$screen-md-min}) {
      width: calc(100% - 4rem);
    }

    @media all and (min-width: #{$screen-lg-min}) {
      width: calc(100% - #{$grid-gutter-lg * 2});
    }
  }
}
