.ni-form {
  input, textarea, select {
    @extend .type-paragraph;

    display: block;
    width: 100%;
    padding: calc(0.75rem - 1px);
    margin-bottom: 0.5rem;
    border-radius: $base-border-radius;
    border: 1px solid map-get($c-scale-neutral, 'fill-7');
    color: map-get($c-scale-neutral, 'fill-2');
    background-color: map-get($c-scale-neutral-alpha, 'fill-11');

    &:hover, &:active {
      border-color: map-get($c-scale-neutral, 'fill-2');
      background-color: inherit;
    }
  }

  // Remove shadow on iOS devices
  textarea, input:matches([type='text'], [type='password'], [type='search']) {
    -webkit-appearance: none;
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('data:image/png;base64,R0lGODlhDwAUAIABAAAAAP///yH5BAEAAAEALAAAAAAPABQAAAIXjI+py+0Po5wH2HsXzmw//lHiSJZmUAAAOw==');
    background-repeat: no-repeat;
    background-position-x: calc(100% - 16px);
    background-position-y: 50%;
    background-size: 0.875rem;
    padding-right: 1rem;

    &::-ms-expand {
      display: none;
    }
  }

  input[type='checkbox'], input[type='radio'] {
    display: inline-block;
    width: auto;
    margin-bottom: 0;
  }

  label {
    @extend .type-label;

    display: block;
    margin-bottom: 0.5rem;
  }

  fieldset {
    label {
      @extend .type-caption;
    }

    label:last-child {
      margin-bottom: 0;
    }

    legend {
      @extend .type-label;

      margin-bottom: 0.25em;
    }
  }

  &__input-group {
    margin-bottom: 1rem;
  }

  &__input-group--valid {
    input, textarea, select {
      border: 1px solid $c-positive;
    }

    .ni-icon {
      color: $c-positive;
    }

    .ni-form__helper-text {
      color: $c-positive;
    }
  }

  &__input-group--invalid {
    input, textarea, select {
      border: 1px solid $c-negative;
    }

    .ni-icon {
      color: $c-negative;
    }

    .ni-form__helper-text {
      color: $c-negative;
    }
  }

  &__input-icon-lockup {
    display: flex;
    align-items: center;

    input, textarea, select {
      margin-right: 0.5rem;
    }

    .ni-icon {
      transform: translateY(-0.25rem); // Account for input's margin-bottom
    }
  }

  &__helper-text {
    @extend .type-caption;

    &--info {
      position: relative;
      padding-left: 24px;

      .ni-icon {
        color: map-get($c-scale-neutral, 'fill-4');
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }

  &__submit-container {
    text-align: right;
  }
}
