/*=== LOADER ===*/
#gem-loader{
  position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;//hsla(0,0%,100%,1);
    z-index: 11;
    margin-top: 0;
  z-index:10001;
  svg {
      position: absolute;
      top: calc(50% - 50px);
      left: calc(50% - 50px);
  }
}

/*** GEM LOADING ANIMATION ***/
.north.outer {
  opacity: 0.15;
  -webkit-animation: hideshowOuter 3s ease infinite;
  animation: hideshowOuter 3s ease infinite;
}

.northeast {
  opacity: 0.15;
  -webkit-animation: hideshowOuter 3s 0.1s ease infinite;
  animation: hideshowOuter 3s 0.1s ease infinite;
}

.east.outer {
  opacity: 0.15;
  -webkit-animation: hideshowOuter 3s 0.2s ease infinite;
  animation: hideshowOuter 3s 0.2s ease infinite;
}

.southeast {
  opacity: 0.15;
  -webkit-animation: hideshowOuter 3s 0.3s ease infinite;
  animation: hideshowOuter 3s 0.3s ease infinite;
}

.south.outer {
  opacity: 0.15;
  -webkit-animation: hideshowOuter 3s 0.4s ease infinite;
  animation: hideshowOuter 3s 0.4s ease infinite;
}

.southwest {
  opacity: 0.15;
  -webkit-animation: hideshowOuter 3s 0.5s ease infinite;
  animation: hideshowOuter 3s 0.5s ease infinite;
}

.west.outer {
  opacity: 0.15;
  -webkit-animation: hideshowOuter 3s 0.6s ease infinite;
  animation: hideshowOuter 3s 0.6s ease infinite;
}

.northwest {
  opacity: 0.15;
  -webkit-animation: hideshowOuter 3s 0.7s ease infinite;
  animation: hideshowOuter 3s 0.7s ease infinite;
}

.north.inner {
  opacity: 0.15;
  -webkit-animation: hideshowOuter 3s 0.9s ease infinite;
  animation: hideshowOuter 3s 0.9s ease infinite;
}

.east.inner {
  opacity: 0.15;
  -webkit-animation: hideshowOuter 3s 1.1s ease infinite;
  animation: hideshowOuter 3s 1.1s ease infinite;
}

.south.inner {
  opacity: 0.15;
  -webkit-animation: hideshowOuter 3s 1.3s ease infinite;
  animation: hideshowOuter 3s 1.3s ease infinite;
}

.west.inner {
  opacity: 0.15;
  -webkit-animation: hideshowOuter 3s 1.5s ease infinite;
  animation: hideshowOuter 3s 1.5s ease infinite;
}

.center {
  opacity: 0.15;
  -webkit-animation: hideshowOuter 3s 1.8s ease infinite;
  animation: hideshowOuter 3s 1.8s ease infinite;
}

@-webkit-keyframes hideshowOuter {
  0% {
    opacity: 0.15;
  }

  20% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  70% {
    opacity: 0.15;
  }
}

@keyframes hideshowOuter {
  0% {
    opacity: 0.15;
  }

  20% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  70% {
    opacity: 0.15;
  }
}
