.ni-header {
  background: map-get($c-scale-neutral, 'fill-1');
  height: $header-height;
  max-width: 100vw;

  > .ni-row {
    height: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    display: flex;
    align-self: center;

    svg {
      height: 20px;
      width: 135px;
    }
  }

  .gem, .logotype {
    fill: $c-white;
  }

  &--transparent, &--light {
    .gem {
      fill: $c-gem-red;
    }

    .logotype {
      fill: $c-black;
    }

    .ni-share-tools__list > li > .ni-share-tools__icon:hover svg path {
      fill: map-get($c-scale-neutral, 'fill-4');
    }

    .ni-share-tools__popup-toggle-container .ni-share-tools__popup-toggle.ni-button * {
      color: map-get($c-scale-neutral, 'fill-4');
    }
  }

  &--transparent {
    background-color: transparent;
  }

  &--light {
    background-color: $c-white;
  }
}

body > .ni-header.ni-header--transparent {
  position: absolute;
  width: 100%;
}

.ni-header .ni-share-tools {
  &__list,
  &__list > li,
  &__list > li > a {
    height: $header-height;
  }

  > li:nth-child(3) a {
    @media all and (max-width: #{$screen-md-min}) {
      margin-right: 0;
    }
  }

  .ni-share-tools__icon::after {
    height: 4px;
    border-radius: 0;
    bottom: 0;
  }

  &__list > li > .ni-share-tools__icon--email,
  &__list > li > .ni-share-tools__icon--linkedin,
  &__list > li > .ni-share-tools__icon--reddit {
    @media all and (max-width: #{$screen-md-min}) {
      display: none;
    }
  }

  .ni-share-tools__popup-toggle {
    display: inline-flex;

    @media all and (min-width: #{$screen-md-min}) {
      display: none;
    }
  }
}
