.ni-hero {
  height: calc(100vh - #{$header-height});
  max-height: 1000px;
  padding-top: 4rem;
  background-image: url('~@project/static/images/hero-bg.jpg');
  background-size: cover;

  @media all and (min-width: #{$screen-lg-min}) {
    padding-top: 8rem;
    background-image: url('~@project/static/images/hero-bg-lg.jpg');
  }

  .type-title, .type-dek, .type-byline {
    margin-bottom: 1.5rem;
  }
}

.ni-hero.ni-hero--compact {
  max-height: none;
  height: auto;
  margin-bottom: 0;
  padding-bottom: 4rem;
  background: none;

  @media all and (min-width: #{$screen-lg-min}) {
    padding-bottom: 8rem;
  }
}
