@font-face {
  font-family: 'Scrapper Icons';
  src: url('~@project/static/fonts/ScrapperIcons/ScrapperIcons.eot?j6vu0h');
  src: url('~@project/static/fonts/ScrapperIcons/ScrapperIcons.eot?j6vu0h#iefix') format('embedded-opentype'),
    url('~@project/static/fonts/ScrapperIcons/ScrapperIcons.ttf?j6vu0h') format('truetype'),
    url('~@project/static/fonts/ScrapperIcons/ScrapperIcons.woff?j6vu0h') format('woff'),
    url('~@project/static/fonts/ScrapperIcons/ScrapperIcons.svg?j6vu0h#Scrapper-Icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.ni-icon {
  font: normal normal normal 24px/24px 'Scrapper Icons';
  text-transform: none;
  display: inline-block;
  color: $c-primary;

  &--light {
    color: $c-white;
  }

  &--sm {
    font-size: 18px;
    line-height: 18px;
  }

  &--lg {
    font-size: 36px;
    line-height: 36px;
  }

  &--xl {
    font-size: 48px;
    line-height: 48px;
  }
}

.ni-icon--check_circle::before {
  content: '\e900';
}

.ni-icon--check::before {
  content: '\e901';
}

.ni-icon--info_outline::before {
  content: '\e902';
}

.ni-icon--info::before {
  content: '\e903';
}

.ni-icon--open_in_new::before {
  content: '\e904';
}

.ni-icon--search::before {
  content: '\e905';
}

.ni-icon--add::before {
  content: '\e906';
}

.ni-icon--block::before {
  content: '\e907';
}

.ni-icon--remove::before {
  content: '\e908';
}

.ni-icon--sharepx::before {
  content: '\e909';
}

.ni-icon--arrow_back::before {
  content: '\e90a';
}

.ni-icon--arrow_downward::before {
  content: '\e90b';
}

.ni-icon--arrow_drop_down::before {
  content: '\e90c';
}

.ni-icon--arrow_drop_up::before {
  content: '\e90d';
}

.ni-icon--arrow_forward::before {
  content: '\e90e';
}

.ni-icon--arrow_left::before {
  content: '\e90f';
}

.ni-icon--arrow_right::before {
  content: '\e910';
}

.ni-icon--arrow_upward::before {
  content: '\e911';
}

.ni-icon--chevron_left::before {
  content: '\e912';
}

.ni-icon--chevron_right::before {
  content: '\e913';
}

.ni-icon--close::before {
  content: '\e914';
}

.ni-icon--expand_less::before {
  content: '\e915';
}

.ni-icon--expand_more::before {
  content: '\e916';
}

.ni-icon--menu::before {
  content: '\e917';
}
