.ni-pill {
  @extend .ni-button;

  font: 600 0.75rem/1rem $base-font-family;
  letter-spacing: 0.015rem;
  border-radius: 15px;
  padding: 0.25rem 1rem;
  margin-bottom: 0.5rem;

  &--outline {
    @extend .ni-button--outline;

    &:hover {
      background-color: map-get($c-scale-neutral-alpha, 'fill-11');
      border-color: map-get($c-scale-neutral-alpha, 'fill-11');
      color: map-get($c-scale-neutral-alpha, 'text-11');
    }
    &:active {
      background-color: map-get($c-variable, 'fill-3');
      text-decoration: none;
      color: $c-white;
    }
  }

  // Prevent hover state from sticking on mobile
  @media (hover: none) and (pointer: coarse) {
    &:hover {
      background-color: map-get($c-variable, 'fill-4');
      text-decoration: none;
    }
  }
}
