.ni-related {
  background-color: map-get($c-scale-neutral, 'fill-10');
  padding: 1.5rem 0;
  border-bottom: 1px solid map-get($c-scale-neutral, 'fill-8');

  h2 {
    margin-bottom: 1rem;
  }

  .articles-list {
    @include grid-parent-auto();
  }

  .story-link {
    @include grid-child-auto(12);

    display: flex;
    padding: 0;
    margin-bottom: 1rem;
    border-radius: $base-border-radius;
    background-color: $c-white;
    box-shadow: $elevation-z02;
    text-decoration: none;
    overflow: hidden;
    transition: box-shadow $default-transition-speed;

    &:last-child {
      margin-bottom: 0;
    }

    &:focus, &:hover {
      box-shadow: $elevation-z04;
    }

    &:hover {
      cursor: pointer;
      text-decoration: none;

      .story-headline {
        color: $c-action-blue;
      }
    }

    @media all and (min-width: #{$screen-md-min}) {
      @include grid-child-auto(6);

      flex-flow: column;

      &:nth-child(3) {
        margin-bottom: 0;
      }
    }

    @media all and (min-width: #{$screen-lg-min}) {
      @include grid-child-auto(3);

      margin-bottom: 0;
    }
  }

  .story-image {
    width: 50%;
    position: relative;
    padding-bottom: 38%;

    @media all and (min-width: #{$screen-md-min}) {
      width: 100%;
      padding-bottom: 56%;
    }

    img {
      position: absolute;
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }

  .story-text {
    width: 50%;
    padding: 1rem;

    @media all and (min-width: $screen-md-min) {
      width: 100%;
      padding-bottom: 1.5rem;
    }
  }

  .story-headline {
    font: 700 14px/20px $base-font-family;
    color: map-get($c-scale-neutral, 'fill-1');
    border: 0;
    margin-top: 0;
  }
}
