.ni-share-tools {
  &__list {
    display: flex;
    align-items: center;

    > li {
      display: inline-block;

      > .ni-share-tools__icon:hover svg path,
      > .ni-share-tools__icon:focus svg path {
        fill: $c-white;
      }

      > .ni-share-tools__icon > svg path {
        transition: fill 0.1s $default-transition-easing;
        fill: map-get($c-scale-neutral, 'fill-5');
      }
    }
  }

  &__icon {
    display: inline-block;
    position: relative;
    height: 40px;
    width: 40px;
    margin-right: 0.5rem;
    align-items: center;
    justify-content: center;

    &::after {
      content: '';
      position: absolute;
      z-index: 0;
      height: 100%;
      width: 100%;
      border-radius: 50%;
      opacity: 0;
      transition: opacity 0.1s $default-transition-easing;
    }

    &:hover, &:focus {
      &::after {
        opacity: 1;
      }
    }

    &--facebook::after {
      background-color: $c-share-facebook;
    }

    &--twitter::after {
      background-color: $c-share-twitter;
    }

    &--email::after {
      background-color: $c-share-email;
    }

    &--reddit::after {
      background-color: $c-share-reddit;
    }

    &--linkedin::after {
      background-color: $c-share-linkedin;
    }

    svg {
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__popup-toggle.ni-button {
    position: relative;
    display: none; // Should only appear when on mobile in the header; See header.scss for more styles
    height: 100%;
    padding: 0;
    background-color: transparent;
    border: 0;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 0;
      width: 0;
      border-style: solid;
      border-width: 0 12px 0 12px;
      border-color: transparent transparent $c-white transparent;
      transition: border-width $default-transition-speed $default-transition-easing;
    }

    &:hover {
      background-color: transparent;
    }

    &:hover .ni-icon,
    &:focus .ni-icon {
      color: $c-white;
    }

    .label, .ni-icon {
      height: auto;
      color: map-get($c-scale-neutral, 'fill-4');
    }

    .label {
      position: absolute;
      right: 28px;
      display: none;
      transition: max-width $default-transition-speed $default-transition-easing 0.1s;
    }

    .ni-icon:last-child {
      font-size: 1.5rem;
      margin-left: 0;
      transition: transform $default-transition-speed $default-transition-easing;
    }
  }

  &__popup {
    display: none;
    position: fixed;
    max-height: 0;
    overflow: hidden;
    left: 0;
    top: $header-height;
    width: 100%;
    height: calc(100% - #{$header-height});
    background-color: $c-white;
    transition: max-height $default-transition-speed $default-transition-easing 0.1s;
    z-index: 9;

    p.share-text {
      font: 700 1rem/1.5rem $base-font-family;
      text-align: center;
      margin: 2.75rem 0;
    }

    ul {
      display: flex;
      flex-flow: column;
      margin: 0 $grid-gutter;

      li {
        display: block;
        border-bottom: 1px solid map-get($c-scale-neutral, 'fill-7');

        &:last-child {
          border: 0;
        }
      }

      a {
        @extend .type-caption;

        justify-content: flex-start;
        text-decoration: none;
        display: flex;
        height: auto;
        width: 200px;
        margin: 0 auto;
        padding: 0.75rem;
        color: map-get($c-scale-neutral, 'fill-1');
        margin-bottom: 1.5rem;
        max-width: 26rem;
      }

      a::after {
        display: none;
      }

      a:focus {
        font-weight: 700;
      }

      svg {
        position: static;
        transform: none;
        margin-right: 0.5rem;
      }
    }
  }

  .ni-share-tools__icon--copy-link {
    &.active {
      .prompt {
        display: none;
      }

      .feedback {
        display: block;
      }
    }

    .feedback {
      display: none;
    }
  }
}

body.ni-share-tools-popup-active {
  overflow: hidden;

  .ni-share-tools__list > li:not(.ni-share-tools__popup-toggle-container) {
    display: none;
  }

  .ni-share-tools__popup-toggle {
    .label, .ni-icon {
      color: $c-white;
    }

    .label {
      display: block;
    }

    .ni-icon {
      transform: rotate(45deg);
    }

    &::after {
      border-bottom-width: 12px;
    }
  }

  .ni-share-tools__popup {
    max-height: 100vh;
    display: block;
    overflow-y: auto;
  }
}
