// table styles
.ni-table-container {

	td {
		@extend .type-label;
		border-bottom: 1px solid map-get($c-scale-neutral, 'fill-8');
		padding: 0.5rem;
		text-align: left;
	}

	tr:last-child td {
		border-bottom: none;
	}

	&__header-label {
		@extend .type-label;
		text-align: left;
		display: flex;

		div {
			display: inline-block;
			padding: 0 10px;
		}

		div:first-child {
			width: 5rem;
		}
	}

	&__scroll-container {
		display: flex;
		justify-content: flex-end;
		padding-right: 0;
		margin: 0.5rem 0;
		padding: 0.5rem 0;
		border-bottom: 1px solid map-get($c-scale-neutral, 'fill-8');

		.scroll {
			background: transparent;
			color: map-get($c-scale-neutral, 'fill-4');
			border: none;
		}

		.ni-icon--arrow_forward{
			vertical-align: middle;
			margin-left: 10px;
			color: map-get($c-scale-neutral, 'fill-4');
		}
	}

	.ni-table {
		width: 100%;
		overflow-x: scroll;
		overflow-y: hidden;
		padding: 0 0;
		border-bottom: 1px solid $c-black;

		&__header-data {
			@extend .type-data;
			color: map-get($c-scale-neutral, 'fill-4');
			padding: 1rem 0.5rem;
			text-align: right;
			min-width: 5rem;

			&:first-child {
				background-color: #fff;
				position: -webkit-sticky;
				position: sticky;
				left: 0;
				border-bottom: 1px solid $c-black;
			}
		}

		&__data {
			font-weight: 400;
			text-align: right;
			min-width: 5rem;
		}

		.first {
			border-top: 1px solid $c-black;

			td {
				border-bottom: 1px solid map-get($c-scale-red, 'fill-4');
				background-color: map-get($c-scale-neutral, 'text-1');
			}
		}

		&__col-name {
			td:first-child {
				position: sticky;
				top:0;
				left: 0;
				background-color: $c-white !important;
				box-shadow: 6px 1px 4px 0px rgba($c-black, 0.2);
			}
		}
	}
}

