{% if not name %}<p>Icon name not provided</p>{% endif %}

<svg class="icon icon__{{ name }}{% if size %} icon--{{ size }}{% endif %}{% if light %} icon--light{% endif %}" aria-hidden="true" focusable="false">
    <use href="#icon-{{ name }}" xlink:href="#icon-{{ name }}"></use>
</svg>
