<!-- loader -->
<div id="gem-loader">
	<svg version="1.1" id="Layer_1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink" x="0px" y="0px" width="100px" height="100.004px" viewBox="0 0 100 100.004" enable-background="new 0 0 100 100.004" xml:space="preserve">
		<g>
			<path class="center" fill="#FFFFFF" d="M49.998,67.863c9.867,0,17.864-7.999,17.864-17.863c0-9.869-7.997-17.869-17.864-17.869
				c-9.872,0-17.876,8-17.876,17.869C32.122,59.865,40.126,67.863,49.998,67.863z"></path>
			<path class="inner west" fill="#FFFFFF" d="M29.366,67.863c-9.874,0-17.878-7.999-17.878-17.863c0-9.869,8.004-17.876,17.878-17.876V67.863z"></path>
			<path class="outer southeast" fill="#FFFFFF" d="M70.629,87.578l0.005-16.954l16.963,0.007C87.597,80.003,79.999,87.578,70.629,87.578z"></path>
			<path class="outer northwest" fill="#FFFFFF" d="M29.366,12.399v16.975l-16.986,0.002C12.379,20.001,19.987,12.399,29.366,12.399"></path>
			<path class="outer southwest" fill="#FFFFFF" d="M29.366,87.588V70.624l-16.984,0.007C12.382,80.003,19.982,87.588,29.366,87.588z"></path>
			<path class="outer east" fill="#FFFFFF" d="M91.274,65.353l-0.01-30.708C96.499,37.761,100,43.469,100,50C100,56.526,96.499,62.232,91.274,65.353z"></path>
			<path class="outer north" fill="#FFFFFF" d="M34.64,8.726l30.712,0.002C62.235,3.498,56.529,0,50.003,0C43.47,0,37.758,3.498,34.64,8.726z"></path>
			<path class="outer south" fill="#FFFFFF" d="M65.124,91.271L34.41,91.267C37.529,96.494,43.234,100,49.766,100C56.3,100,62.003,96.499,65.124,91.271z"></path>
			<path class="inner south" fill="#FFFFFF" d="M67.862,70.631c0,9.872-7.997,17.868-17.864,17.868c-9.872,0-17.876-7.996-17.876-17.868H67.862z"></path>
			<path class="inner east" fill="#FFFFFF" d="M70.634,67.863c9.865,0,17.874-7.999,17.874-17.863c0-9.869-8.009-17.876-17.874-17.876V67.863z"></path>
			<path class="inner north" fill="#FFFFFF" d="M67.862,29.396c0-9.867-7.997-17.867-17.864-17.867c-9.872,0-17.876,8-17.876,17.867H67.862z"></path>
			<path class="outer west" fill="#FFFFFF" d="M8.723,65.353L8.73,34.645C3.498,37.761,0,43.469,0,50C0,56.526,3.498,62.232,8.723,65.353z"></path>
			<path class="outer northeast" fill="#FFFFFF" d="M87.597,29.386l-16.963-0.012l-0.005-16.959C79.999,12.415,87.597,20.009,87.597,29.386"></path>
		</g>
	</svg>
</div>
