<header class="ni-header{% if style %} ni-header--{{ style }}{% endif %}">
    <div class="ni-row">
        <a aria-label="CBC News" class="ni-header__logo" href="https://www.cbc.ca/news" target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 162 24">
                <path class="gem" fill-rule="evenodd" clip-rule="evenodd" fill="#f00" d="M13 20.2c-.6 1-1.8 1.7-3.1 1.7s-2.4-.7-3.1-1.7H13zm.6-4.1c0 2-1.6 3.6-3.6 3.6s-3.6-1.6-3.6-3.6h7.2zm-7.7 0v3.4c-1.9 0-3.4-1.5-3.4-3.4h3.4zm8.2 0h3.4c0 1.9-1.5 3.4-3.4 3.4v-3.4zM10 8.4c2 0 3.6 1.6 3.6 3.6S12 15.6 10 15.6 6.4 14 6.4 12 8 8.4 10 8.4zm-4.1 0v7.1c-2 0-3.6-1.6-3.6-3.6 0-1.9 1.6-3.5 3.6-3.5zm8.2 0c2 0 3.6 1.6 3.6 3.6s-1.6 3.6-3.6 3.6V8.4zm4.1.5c1 .6 1.7 1.8 1.7 3.1s-.7 2.4-1.7 3.1V8.9zM1.7 15.1C.7 14.4 0 13.3 0 12s.7-2.4 1.7-3.1v6.2zM10 4.3c2 0 3.6 1.6 3.6 3.6H6.4c0-2 1.6-3.6 3.6-3.6zm4.1.2c1.9 0 3.4 1.5 3.4 3.4h-3.4V4.5zm-8.2 0v3.4H2.5C2.5 6 4 4.5 5.9 4.5zM10 2c1.3 0 2.4.7 3.1 1.7H7c.5-1 1.7-1.7 3-1.7z"/>
                <path class="logotype" fill-rule="evenodd" clip-rule="evenodd" d="M133.8 2l5.4 16.5L144.9 2h2.3l-7.1 20h-1.9l-5.4-16.1-5.4 16.1h-1.9l-7.1-20h2.4l5.7 16.5L132 2h1.8zM116 2v2.1h-12.2v6.8h10.9V13h-10.9v7h12.3v2h-14.6V2H116zM82.5 2l12.6 16V2h2.2v20h-1.8L82.6 5.6V22h-2.2V2h2.1zm-12 0c3.6 0 5.8 1.2 7.6 3l-2.7 3.1c-1.5-1.4-3-2.2-4.9-2.2-3.3 0-5.6 2.7-5.6 6v.1c0 3.3 2.3 6.1 5.6 6.1 2.2 0 3.6-.9 5.1-2.3l2.7 2.7c-2 2.1-4.2 3.5-7.9 3.5-5.7 0-9.9-4.4-9.9-9.9V12c0-5.5 4.1-10 10-10zm-19 0c4.1 0 6.6 2 6.6 5.2v.1c0 2.3-1.2 3.5-2.6 4.3 2.3.9 3.7 2.2 3.7 4.9v.1c0 3.7-3 5.5-7.5 5.5h-9.5V2h9.3zM33.1 2c3.6 0 5.8 1.2 7.6 3L38 8.1c-1.5-1.4-3-2.2-4.9-2.2-3.3 0-5.6 2.7-5.6 6v.1c0 3.3 2.3 6.1 5.6 6.1 2.2 0 3.6-.9 5.1-2.3l2.7 2.7c-2 2.1-4.2 3.5-7.9 3.5-5.7 0-9.9-4.4-9.9-9.9V12c-.1-5.5 4-10 10-10zm120.7 0c2.8 0 4.9.8 6.8 2.4l-1.3 1.7c-1.8-1.5-3.6-2.1-5.6-2.1-2.5 0-4.1 1.4-4.1 3.2 0 1.9 1 2.9 5.3 3.8 4.3.9 6.3 2.5 6.3 5.5 0 3.4-2.8 5.5-6.6 5.5-3.1 0-5.6-1-7.9-3.1l1.4-1.6c2 1.8 4 2.7 6.7 2.7 2.6 0 4.3-1.4 4.3-3.3 0-1.8-1-2.9-5.1-3.7-4.5-1-6.5-2.4-6.5-5.6-.1-3.2 2.6-5.4 6.3-5.4zM51.6 13.7h-5.1v4.4h5.2c1.9 0 3.1-.7 3.1-2.2v-.1c.1-1.2-.9-2.1-3.2-2.1zm-.7-7.8h-4.3v4.2h4.1c1.9 0 3.2-.6 3.2-2.1v-.1c-.1-1.3-1.2-2-3-2z"/>
            </svg>
        </a>
    {% include 'structure/scrapper-1.2.0/header/share-tools.twig' %}
    </div>
</header>
