<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="application-name" content="www.cbc.ca" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="shortcut icon" type="image/ico" href="/favicon.ico" />
<meta name="msApplication-ID" content="App" />
<meta name="msApplication-PackageFamilyName" content="CanadianBroadcastingCorpo.CBC_pw8q9bvavk68p" />

{% if site_config.get('[pub][enableTracking]') == false %}
    <meta name="ROBOTS" content="NOINDEX, NOFOLLOW">
{% endif %}

<meta name="description" content="{{ site_config.get('[social][socialDescription]') }}">
<link rel="canonical" href="{{ site_config.get('[social][fullURL]') }}">

<meta property="vf:section" content="multimedia">

<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&amp;subset=latin&amp;display=swap">

<title>{{ site_config.get('[social][socialTitle]') }}</title>

{% if site_config.get('[pub][enableSharing]') %}

    {# SOCIAL META #}
    {# Twitter #}
    <meta name="twitter:site" content="{{ site_config.get('[social][socialSiteHandle]') }}">
    <meta name="twitter:url" content="{{ site_config.get('[social][shortURL]') }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image:src" content="{{ site_config.get('[social][socialImageURL]') }}">
    <meta name="twitter:title" content="{{ site_config.get('[social][socialTitle]') }}">
    <meta name="twitter:description" content="{{ site_config.get('[social][socialDescription]') }}">

    {# Facebook #}
    <meta property="og:site_name" content="{{ site_config.get('[social][socialSiteName]') }}" />
    <meta property="og:title" content="{{ site_config.get('[social][socialTitle]') }}"  />
    <meta property="og:description" content="{{ site_config.get('[social][socialDescription]') }}" />
    <meta property="og:image" content="{{ site_config.get('[social][socialImageURL]') }}" />
    <meta property="og:type" content="article">
    <meta property="og:url" content="{{ site_config.get('[social][fullURL]') }}">
{% endif %}
