    <!--[if lt IE 10]>
		<script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
		<style>
			#screen-cover{
				position: fixed;
				top:0;
				right:0;
				bottom:0;
				left:0;
				width:100%;
				height:100%;
				background: white;
				z-index:10002;
			}
			#screen-cover p{
				margin: 3rem 3rem;
			}
		</style>
	<![endif]-->
	<!--[if lt IE 10]>
		<div id="screen-cover"><p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/?locale=en" target="blank">upgrade your browser</a> to improve your experience.</p>
		<p class="browsehappy">For the latest news from across Canada and around the world, please visit the <a href="http://www.cbc.ca/news/">CBC News homepage</a>.</p></div>
		<![endif]--> 
