
{% if site_config.get('[pub][enableSharing]') %}
<div class="ni-share-tools sclt-sharing">
  {# These SVGs are copied in from the static images directory into the templates directory so Twig can include them #}
  <ul class="ni-share-tools__list">
    <li>
      <a class="ni-share-tools__icon ni-share-tools__icon--facebook" aria-label="Share on Facebook." href="https://www.facebook.com/sharer/sharer.php?u={{ site_config.get('[social][fullURL]') }}&amp;src=sdkpreparse" target="_blank">
        {% include 'structure/scrapper-1.2.0/sharing/facebook.svg.twig' %}
      </a>
    </li>
    <li>
      <a class="ni-share-tools__icon ni-share-tools__icon--twitter" aria-label="Share on Twitter" href="https://www.twitter.com/intent/tweet?text={{ site_config.get('[social][socialDescription]') }}&amp;url={{ site_config.get('[social][fullURL]') }}" target="_blank">
        {% include 'structure/scrapper-1.2.0/sharing/twitter.svg.twig' %}
      </a>
    </li>
    <li>
      <a class="ni-share-tools__icon ni-share-tools__icon--email" aria-label="Send by Email" href="mailto:?subject={{ site_config.get('[social][socialTitle]') }}&amp;body={{ site_config.get('[social][socialDescription]') }}%0A{{ site_config.get('[social][shortURL]') }}" target="_blank">
        {% include 'structure/scrapper-1.2.0/sharing/email.svg.twig' %}
      </a>
    </li>
    <li>
      <a class="ni-share-tools__icon ni-share-tools__icon--reddit" aria-label="Post to Reddit" href="http://www.reddit.com/submit?title={{ site_config.get('[social][socialTitle]') }}%0A{{ site_config.get('[social][socialDescription]') }}&amp;url={{ site_config.get('[social][shortURL]') }}" target="_blank">
        {% include 'structure/scrapper-1.2.0/sharing/reddit.svg.twig' %}
      </a>
    </li>
    <li>
      <a class="ni-share-tools__icon ni-share-tools__icon--linkedin" aria-label="Post to LinkedIn" href="http://www.linkedin.com/sharing/share-offsite/?url={{ site_config.get('[social][fullURL]')|url_encode }}" target="_blank">
        {% include 'structure/scrapper-1.2.0/sharing/linkedin.svg.twig' %}
      </a>
    </li>
    <li class="ni-share-tools__popup-toggle-container">
      <button class="ni-share-tools__popup-toggle ni-button" aria-label="Sharing options" aria-haspopup="true" aria-expanded="false">
        <span class="label">Close</span>
        <span class='ni-icon ni-icon--sm ni-icon--add'></span>
      </button>
      <div class="ni-share-tools__popup">
        <p class="share-text">Share: {{ site_config.get('[social][socialTitle]') }}</p>
        <ul>
          <li>
            <a class="ni-share-tools__icon ni-share-tools__icon--facebook" aria-label="Share on Facebook." href="https://www.facebook.com/sharer/sharer.php?u={{ site_config.get('[social][fullURL]') }}&amp;src=sdkpreparse" target="_blank">
              {% include 'structure/scrapper-1.2.0/sharing/facebook.svg.twig' %}
              <span>Post to Facebook</span>
            </a>
          </li>
          <li>
            <a class="ni-share-tools__icon ni-share-tools__icon--twitter" aria-label="Share on Twitter" href="https://www.twitter.com/intent/tweet?text={{ site_config.get('[social][socialDescription]') }}&amp;url={{ site_config.get('[social][fullURL]') }}" target="_blank">
              {% include 'structure/scrapper-1.2.0/sharing/twitter.svg.twig' %}
              <span>Tweet</span>
            </a>
          </li>
          <li>
            <a class="ni-share-tools__icon ni-share-tools__icon--email" aria-label="Send by Email" href="mailto:?subject={{ site_config.get('[social][socialTitle]') }}&amp;body={{ site_config.get('[social][socialDescription]') }}%0A{{ site_config.get('[social][shortURL]') }}" target="_blank">
              {% include 'structure/scrapper-1.2.0/sharing/email.svg.twig' %}
              <span>Send by email</span>
            </a>
          </li>
          <li>
            <a class="ni-share-tools__icon ni-share-tools__icon--reddit" aria-label="Post to Reddit" href="http://www.reddit.com/submit?title={{ site_config.get('[social][socialTitle]') }}%0A{{ site_config.get('[social][socialDescription]') }}&amp;url={{ site_config.get('[social][shortURL]') }}" target="_blank">
              {% include 'structure/scrapper-1.2.0/sharing/reddit.svg.twig' %}
              <span>Post to Reddit</span>
            </a>
          </li>
          <li>
            <a class="ni-share-tools__icon ni-share-tools__icon--linkedin" aria-label="Post to LinkedIn" href="http://www.linkedin.com/sharing/share-offsite/?url={{ site_config.get('[social][fullURL]')|url_encode }}" target="_blank">
              {% include 'structure/scrapper-1.2.0/sharing/linkedin.svg.twig' %}
              <span>Share on LinkedIn</span>
            </a>
          </li>
          <li>
            <a class="ni-share-tools__icon ni-share-tools__icon--whatsapp" aria-label="WhatsApp" href="https://wa.me/?text={{ site_config.get('[social][socialDescription]')|url_encode }}{{ ' —  '|url_encode}}{{ site_config.get('[social][fullURL]')|url_encode }}" target="_blank">
              {% include 'structure/scrapper-1.2.0/sharing/whatsapp.svg.twig' %}
              <span>Whatsapp</span>
            </a>
          </li>
          <li>
            <a class="ni-share-tools__icon ni-share-tools__icon--pinterest" aria-label="Pin to Pinterest" href="https://pinterest.com/pin/create/button/?url={{ site_config.get('[social][fullURL]') }}&amp;description={{ site_config.get('[social][socialDescription]') }}" target="_blank">
              {% include 'structure/scrapper-1.2.0/sharing/pinterest.svg.twig' %}
              <span>Pin to Pinterest</span>
            </a>
          </li>
          <li>
            <a class="ni-share-tools__icon ni-share-tools__icon--copy-link" data-link="{{ site_config.get('[social][fullURL]') }}" aria-label="Copy link to this page" href="#" target="_blank">
              {% include 'structure/scrapper-1.2.0/sharing/copy-link.svg.twig' %}
              <span class="prompt">Copy link to this page</span>
              <span class="feedback">Link copied!</span>
            </a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>
{% endif %}
