// Haul in scrapper styles
@import 'scrapper-1.2.0/index';

// Project-specific styles go here

@import 'components/nav-dropdown';

/*
 * This file contains styles specific to the style guide for this
 *  starter template; You may find some useful code snippets in here
 *  but it can generally be disabled for your project.
 */

// Unset hidden overflow-x because `position: sticky` breaks with it
body, html {
  overflow-x: inherit;
}

section div p {
white-space: pre-line;
}

#dek {
  white-space: pre-line;
}

.ni-hero.ni-hero--margins {
  background-color: $c-white;
  max-width: 96rem;
  margin: 0 auto;
  padding: 4rem 0;
}

.ni-grid-parent.analysis {
    position:relative;
    overflow:hidden;
    height: 120px;
}

.ni-grid-parent.analysis > div:nth-child(3) {
      grid-column: 4/span 8;
}

.ni-grid-parent.analysis > div:nth-child(2) {
    grid-column: 1/span 3;
}


.ni-button:hover,
.ni-button:focus {
    background-color: #222;
    border-color: #222;
    text-decoration: underline;
}

.ni-button:active {
    background-color: #333;
    border-color: #333;
    text-decoration: underline;
}

.ni-button {
    position:relative;
    justify-content: center;
    color: #f7f8f8;
    z-index:1;
    text-decoration: none;
    background-color: #444;
    font-weight: 600;
    margin: 0;
    border: 1px solid #444;
    border-radius: 4px;
    padding: 0.875rem 1rem;
    cursor: pointer;
    white-space: nowrap;
    align-items: center;
    transition: background-color 0.1s ease-in-out;
}

.partyHeader {
	height:4rem;
	position:relative;
}

.main h3 {
	padding-top:2px;
	padding-bottom:16px;
  font-family: Open Sans,sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  margin-left:16px;
}

.main h4 {
  padding-bottom:6px;
  font-family: Open Sans,sans-serif;
  font-style: normal;
  font-weight: 600;
  color: #3f464b;
  
}

.main {
  section:not(.ni-article-container):not(.ni-hero), .ni-divider {
    >h2 {
    margin-top:3rem;
	margin-bottom: 60px;
}
}
}

span.arrow {
	display: inline-block;
    margin-right: 8px;
    float: left;
    width: .3rem;
    height: 1.8rem;
    border-radius: 0 4px 0 4px;
    -moz-border-radius: 0 4px 0 4px;
    -webkit-border-radius: 0 4px 0 4px;
}

.arrow.arrow-liberal {
    background: #bc0808;
}
.arrow.arrow-conservative {
    background: #0c499c;
        width: 5px;
}
.arrow.arrow-new-democrat {
    background: #fa5d19;
    width: 5px;
}
.arrow.arrow-bloc-québécois {
    background: #0e8daa;
    width: 5px;
}

.arrow.arrow-bloc-québécois {
    background: #0e8daa;
    width: 5px;
}

span[class*=" arrow-people"] {
    background: #4a3389;
    width: 5px;
}

.arrow.arrow-green {
    background: #338c29;
    width: 5px;
}

#issue-changelog h4 {
    margin-bottom: 1.5em;
    font: 700 1rem/1.2rem Open Sans,Arial,Helvetica,sans-serif;
    text-transform: uppercase;
}

#issue-changelog .changelog {
    color: #999;
    font-size: 1rem;
    margin-bottom: .5rem;
    font: 400 1rem/1.2rem Open Sans,Arial,Helvetica,sans-serif;
}

#issue-changelog .date {
    font-weight: 800;
    color: #999;
    font-size: 1rem;
    margin-right: .8rem;
}

.issue-related h3 {
    margin-bottom: 1.5em;
    font: 700 1rem/1.2rem Open Sans,Arial,Helvetica,sans-serif;
    text-transform: uppercase;
    padding-bottom: 0;
    padding-top:1rem;
    margin-left: 0;
}

.issue-related li {
    padding-left: 1.5em;
    margin-bottom: 1em;
}

.issue-related li a {
    font: 400 1rem/1.5rem "Open Sans", Arial, Helvetica, sans-serif;
    color: #0075b8;
    text-decoration: none;
}

.main p a {
    font: 400 1rem/1.5rem "Open Sans", Arial, Helvetica, sans-serif;
    color: #0075b8;
    text-decoration: none;
    box-shadow: none;
}

.main p a:hover{
    text-decoration: underline;
}

.issue-related li a:hover {
    text-decoration: underline;
}

// discovery section css

section.discovery {
      background:#fff;
      margin: 0 auto;
      border-bottom: 1px solid #DCDFE0;
    }

section.discovery > div.ni-row.behind > svg {
      width:132px;
      height:24px;
      position:absolute;
      top:17px;
      display:inline-block;
      left:2rem;
    }

section.discovery > div.ni-row.behind {
      height: 56px;
      width: 100%;
      position:absolute;
      max-width: 80rem;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      z-index:0;
      display:inline-block;
    }

section.discovery > div.ni-row {
      height: 56px;
      width: 100%;
      z-index:1;
      overflow-x: scroll;
      -ms-overflow-style: none;
      scrollbar-width: none;
      position:relative;
      max-width: 89rem;
    }

section.discovery > div.ni-row::-webkit-scrollbar {
      display: none;
    }

section.discovery > div.ni-row#discoveryScroll > nav > ul > li > a {
      font-family: Open Sans;
      font-size: 14px;
      font-weight: 600;
      line-height: 20px;
      color: #272C30;
      text-decoration:none;
       transition-duration: all 0.2s ease;

    }

section.discovery > div.ni-row#discoveryScroll > nav > ul > li {
      cursor: pointer;
      padding: 0 2rem;
      background-color: #fff;
      margin-top:8px;
      z-index:2;
      display:inline-block;
      border-radius: 4px;
      height:38px;
      margin-right:10px;
      padding-top:10px;
      padding-left:16px;
      box-shadow: 0 0 0 1pt #DCDFE0;
      background-repeat: no-repeat;
      background-size: 60px 40px;
      background-position: center right;
      -webkit-transition: 0.2s;
      -moz-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s;
    }

section.discovery > div.ni-row#discoveryScroll > nav > ul > li:hover {
      -webkit-box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
      box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    }

section.discovery > div.ni-row#discoveryScroll > nav > ul > li:hover > a {
      text-decoration: underline;
    }

li#polls {
      width:168px;
      background-image: url('~@project/static/images/polltracker.png');
    }

        // a bunch of these are hidden but I thought I would leave the code verbose so we could reveal them individually if needed

section.discovery>div.ni-row#discoveryScroll>nav>ul>li#ask {
      width:186px;
      background-image: url('~@project/static/images/ask-cbc-news.png');
    }

section.discovery>div.ni-row#discoveryScroll>nav>ul>li#results {
    display:none;
      width:197px;
      background-image: url('~@project/static/images/election-results.png');
    }

li#compass {
      width:186px;
      background-image: url('~@project/static/images/votecompass.png');
    }

section.discovery>div.ni-row#discoveryScroll>nav>ul>li#guide {
      display:none;
      width:168px;
      background-image: url('~@project/static/images/voter-guide.png');
    }

section.discovery>div.ni-row#discoveryScroll>nav>ul>li#platforms {
      display:none;
      width:196px;
      background-image: url('~@project/static/images/party-platforms.png');
    }

section.discovery>div.ni-row#discoveryScroll>nav>ul>li#debate {
   display:none;
      width:196px;
      background-image: url('~@project/static/images/debate.png');
    }


section.discovery > div.ni-row > div > ul > a {
      box-shadow: none;
      margin:0;
    }

 // adjust for overshoot here depending on which buttons you have on

section.discovery > div.ni-row > nav > ul {
      width: 800px;
      padding-left: 10rem;
      padding-top: 1px;
    }

@media (min-width: 80rem) {
 section.discovery > div.ni-row > nav > ul {
      padding-left: 14.2rem;
  }
}


@media (max-width: 666px) {
section.discovery > div.ni-row.behind > svg {
      left: 1rem;
  }
}


@media  (max-width: 1420px) and (min-width: 1280px) {
 section.discovery > div.ni-row > nav > ul {
      padding-left: 15vw;
  }
}



// analysis section css


 .button {
  border-top: 1px solid #96d1f8;
  width:9.3rem;
    background: #444444;
    padding: .8rem 1rem .8rem 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;  
    color: white;
    font-size: .9rem;
    font-family:  'Open Sans', sans-serif;
    text-decoration: none;
    vertical-align: middle;

}
.button:hover {
      background: #222222;
}

.button:active {
   background: #444444;
}

  
    .analysis-container {
      position: relative;
      padding: 0 0 20px 20px;
      overflow: hidden;
      color: #5A5A5A;
      font-size:1rem;
    }

    .main p.fadeout {
  max-width:none;
}

    .fadeout { 
      position: absolute; 
      bottom: 0; left: 0;
      width: 100%; 
      height:100%;
      text-align: center; 
      margin: 0; 
      padding: 0 0 50px 0; 
      z-index:1;
      
      /* "transparent" only works here because == rgba(0,0,0,0) */ 

background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */



    }


.issue-more {
  position: relative;
  height:120px;
  overflow: hidden;
}

.background {
  z-index:-1;
}

.buttonContainer {
  position:relative;
  width:150px;
  margin: 0 auto 1em auto;
  z-index:1;
   cursor:pointer;
   background: none !important;
   padding:0;
   border:none; 
}


 .arrowIcon {
  // background-color: #444444;
  height: 15px;
  width: 15px;
  display: block;
  padding-top: 0;
  margin: 1.3em 1.2em 0 0;
  position: relative;
  float:right;
}

.leftBar {

position: absolute;
  background-color: transparent;
  top: 5px;
  left: 0;
  width: 10px;
  height: 2px;
  display: block;
  transform: rotate(35deg);
  float: right;
  border-radius: 2px;

}

.leftBar:after {
  content: "";
  background-color: white;
  width: 10px;
  height: 2px;
  display: block;
  float: right;
  border-radius: 2px 5px 5px 2px;
  transition: all 0.5s;
  z-index: -1;


}

.rightBar {

  position: absolute;
  background-color: transparent;
  top: 5px;
  left: 8px;
  width: 10px;
  height: 2px;
  display: block;
  transform: rotate(-35deg);
  float: right;
  border-radius: 2px;

}

.rightBar:after {
  content: "";
  background-color: white;
  width: 10px;
  height: 2px;
  display: block;
  float: right;
  border-radius: 2px 5px 5px 10px;
  transition: all 0.5s;
  z-index: -1;


}

.arrowIcon.rotated > .leftBar:after {

  transform-origin: center center;
  transform: rotate(-70deg);

}

.arrowIcon.rotated > .rightBar:after {

  transform-origin: center center;
  transform: rotate(70deg);

}

.analysisArrow {
  height:15px;
  width:15px;
  vertical-align: baseline;
  margin-bottom:-2px;
  position: absolute;
  top:5px;
  right: 0;
}


.issue-changelog .copy hr {
    border: 0;
    height: 1px;
    background: #ccc;
    margin:1em 0 1em 0;
}



@media (max-width: 980px) {

      .main p.fadeout {
    height:140px;
    padding:0;
}



 .buttonContainer {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin-left: auto;
    margin-right: auto;
  }

 .main p.byline {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin-top:4rem;
    margin-left: auto;
    margin-right: auto;
}

.ni-grid-parent.analysis > div:nth-child(3) {
      grid-column: 5/span 10;
      margin-top:4rem;
}

.ni-grid-parent.analysis > div:nth-child(2) {
    grid-column: 1/span 4;
    margin-top:4rem;
}

}

@media (max-width: 666px) {

  .ni-grid-parent.analysis > div:nth-child(2) {
    grid-column: 1/span 10;
    margin-top:4rem;
}

 .main p.byline {
    position: absolute;
    left: 0;
    text-align:center;
    right: 0;
    top: 0;
    margin-top:4rem;
    margin-left: auto;
    margin-right: auto;
}

.ni-grid-parent.analysis > div:nth-child(3) {
      grid-column: 1/span 12;
    margin-top:4rem;
}

aside {
    display:none;
}

.issue-related h4 {
    margin-top: 1.5em;
}

.main .ni-grid-parent-auto > div {
    margin-top: 1rem;
}

.main {
  section:not(.ni-article-container):not(.ni-hero), .ni-divider {
    margin-bottom: 4rem;

    >h2 {
    margin-top:3rem;
	margin-bottom: 20px;
}
}
}

.main section:not(.ni-article-container):not(.ni-hero):not(.ni-administrative__jsp-links):not(.ni-administrative__credits), .main .ni-divider {
    padding-left: 0;
}

.partyHeader {
	height:3rem;
	position:relative;
}

.main h3 {
	line-height: 19px;
	padding-top:5px;
}


div#issue-changelog.issue-heading-container.ni-row {
 padding-left:0;
}

}


@media (max-width: 40rem) {
.main .ni-grid-parent-auto > div {
    width: 100%;
    grid-column: auto/span 12;
}
}

@media (min-width: 40rem) {
.main .ni-grid-parent-auto > div {
    width: 100%;
    grid-column: auto/span 6;
    margin-bottom:1rem;
}
}

.main {
  section:not(.ni-article-container):not(.ni-hero), .ni-divider {
    margin-bottom: 4rem;
  }


  p {
    max-width: 50ch;

    @media all and (min-width: #{$screen-md-min}) {
      max-width: 85ch;
    }
  }

.components {
    @include grid-parent-auto;

    > aside {
      @include grid-child-auto-responsive(12, 2, 2, 2);
    }

    > section {
      @include grid-child-auto-responsive(12, 10, 10, 10);
    }
  }

aside nav {
    position: sticky;
    top: 2rem;

    li a {
      @extend .type-byline;

      text-decoration: none;
      display: block;
      padding: 0.5rem 1rem;
    }

    li a.active {
      color: map-get($c-scale-neutral, 'text-10');
      background-color: map-get($c-scale-neutral, 'fill-10');
      text-decoration: underline;
    }

    li a.active:hover {
      color: map-get($c-scale-neutral, 'text-10');
      background-color: map-get($c-scale-neutral, 'fill-10');
      text-decoration: underline;
    }

    li a:focus {
      background: map-get($c-scale-neutral, 'fill-10');
    }
  }

@media (min-width: 70rem) {
.ni-grid-parent-auto>div {
    width: 100%;
    grid-column: auto/span 4;
}
}

#section-grid {
    .ni-grid-parent, .ni-grid-parent-auto {
      margin-bottom: 1rem;

      > div {
        outline: 2px solid map-get($c-scale-neutral, 'fill-7');
        margin-bottom: 1rem;
        display: flex;
        justify-content: center;
        padding: 0.5rem;
        color: map-get($c-scale-neutral, 'fill-4');
        font: 400 12px/12px $base-font-family;
        font-style: italic;
      }
    }

    // Uses the .grid-parent helper class. You may want to not use this class and
    //  add the grid-parent() mixin to the container class directly (e.g. if you
    //  want to disable grid for certain breakpoints)
.ni-grid-parent {
      // Here we specify exactly which grid columns we want each grid element to live
      > div:first-child {
        @include grid-child-responsive(1, 2, 1, 3, 2, 3);
      }

      > div:nth-child(2) {
        @include grid-child-responsive(3, 8, 4, 6, 5, 4);
      }

      > div:nth-child(3) {
        @include grid-child-responsive(11, 2, 10, 3, 9, 3);
      }
    }

    // For these elements, we specify the grid column width for each element and the container
    //  automatically lays them out. This is especially useful for multiple rows of content
    .ni-grid-parent-auto > div {
      @include grid-child-auto-responsive(12, 4, 4, 4);
    }
  }
}
