<section class="main">
  <section class="ni-hero ni-hero--compact ni-hero--margins">
   {# Add .ni-hero--compact class for shorter, backgroundless hero section #}
    <div class="ni-row">
      <h1 class="type-title">How do the main parties compare on these issues?</h1>

      {# note- I took off the ID dek below because we wanted a  #}
    <p class="type-dek" id="dek">Read the policies and promises of the five main parties on this election's pressing issues.<br />These will be updated as parties add to their platforms ahead of the Sept. 20 election.</p> 
        {# <div id="dek" class="type-dek">Read the policies and promises of the five main parties on this election's pressing issues.<br />These will be updated as parties add to their platforms ahead of the Sept. 20 election.</div>#}
      {# <p class="type-byline"><span class="author">Byline</span>CBC News • Date</p> #}
      {# {% include 'structure/share-tools.twig' %} #}{# Uncomment this to display share tools under title/dek #}
    </div>
  </section>

        <nav class="o-nav__dropdown o-container" aria-label="issues dropdown">
    <div class="o-grid">
      <div class="o-grid__cell o-grid__cell--width-100">

        <label for="issues-nav-dropdown" class="c-label">Select from the top issues</label>
        <select id="issues-nav-dropdown" class="c-field">
            <option value="section-childcare">Child care</option>
            <option value="section-education">Education</option>
        </select>
      </div>
    </div>
  </nav>

  <section class="ni-article-container">

  <div class="o-nav__dropdown-waypoint"></div>

  <div class="o-nav__filler"></div>

    <div class="ni-row components">
      <aside>

        <nav class="o-nav__side" id="issues-nav" aria-label="issues"></nav>
      </aside>

      <section class="components-content">

        <div id="issues-body"></div>

      </section>
    </div>

</section>
