<section class="scrapper-viz">
  <section class="ni-hero"> {# Add .ni-hero--compact class for shorter, backgroundless hero section #}
    <div class="ni-row">
      <h1 class="type-title">ScrapperViz</h1>
      <p class="type-dek">A framework for punchy dataviz tools.</p>
      {# <p class="type-byline"><span class="author">Byline</span>CBC News • Date</p> #}
      {# {% include 'structure/share-tools.twig' %} #}{# Uncomment this to display share tools under title/dek #}
    </div>
  </section>

  <section class="ni-article-container">
    <section class="ni-row">
      <h2>Introduction</h2>
      <p class="lede">
        Contained within is a starting point for building interactive vizualizations with the D3 framework. We use a consistent architecture pattern that makes it easy to update charts and handle common tasks (like redrawing the chart when resizing the window) using classes and inheritance. This pattern is useful so we have a common ground for building charts that is easy to understand for anyone jumping in. It also allows people who are unfamiliar with the nuts-and-bolts of D3 to easily add a chart to page by just writing some JSON, much like popular charting libraries such as Highcharts, Amcharts, and Chart.js.
      </p>
      <p class="lede">Each of these vizualizations use a schema tool called <a href="https://github.com/jquense/yup">Yup</a> to define the configuration object that is passed to the viz and check whether the config is valid. When building a viz for a project it may be overkill, but if you are building a chart for others on the team it can be very useful to help catch issues with the data passed to the chart (in cases where d3 might fail silently).</p>
      <p class="lede">Your project may have something unique that isn't captured below but you can use these charts as a starting point with regard to code structure and design. Take a look at the <a href="https://bitbucket.org/cbcnewsinteractives/newsinteractives-docker-minimal/src/scrapper-viz/private/app/js/scrapper-1.2.0/scrapper-viz/demo.js">demo script</a> that is used to set up this page for examples of how to import each chart and initialize them.</p>

      <div>
        <a href="#section-line-chart" class="ni-pill">Line</a>
        <a href="#section-bar-chart" class="ni-pill">Bar</a>
        <a href="#section-histogram" class="ni-pill">Histogram</a>
        <a href="#section-joyplot" class="ni-pill">Joyplot</a>
        <a href="#section-boxplot" class="ni-pill">Boxplot</a>
      </div>
    </section>

    <div class="ni-divider"></div>

    <section id="section-line-chart" class="ni-row">
      <h2>Line chart</h2>
      <p class="lede">Some words about when you should use this chart ipsum dolor sit amet, sem pellentesque, vulputate vestibulum, aliquam sapien elit lobortis nulla. Sit ac, ridiculus ut vel ut, erat faucibus amet nibh sem ipsum, dapibus vel magnis morbi sem, eu non vitae convallis. Quis libero dolor. Egestas praesent pede lorem nec, et commodo cras feugiat sed nec, risus elementum ligula viverra suspendisse, at mauris pede. Phasellus metus in, nunc nunc posuere curabitur amet ut.</p>
      <a class="ni-button ni-button--outline" role="button" target="_blank" href="https://bitbucket.org/cbcnewsinteractives/newsinteractives-docker-minimal/src/master/private/app/js/scrapper-1.2.0/scrapper-viz/demo.js#lines-29:77">
        <span>View demo config</span>
        <span class='ni-icon ni-icon--sm ni-icon--open_in_new' aria-label='Alert'></span>
      </a>
      <div class="scrapper-viz__chart-container">
        <div id="line-chart"></div>
      </div>
      <a href="#" id="line-chart-update" role="button" class="ni-pill ni-pill--outline"><span>Update data</span><span class='ni-icon ni-icon--sm ni-icon--chevron_right' aria-hidden='true'></span></a>
    </section>

    <div class="ni-divider ni-row"></div>

    <section id="section-bar-chart" class="ni-row">
      <h2>Bar Chart</h2>
      <p class="lede">Some words about when you should use this chart ipsum dolor sit amet, sem pellentesque, vulputate vestibulum, aliquam sapien elit lobortis nulla. Sit ac, ridiculus ut vel ut, erat faucibus amet nibh sem ipsum, dapibus vel magnis morbi sem, eu non vitae convallis. Quis libero dolor. Egestas praesent pede lorem nec, et commodo cras feugiat sed nec, risus elementum ligula viverra suspendisse, at mauris pede. Phasellus metus in, nunc nunc posuere curabitur amet ut.</p>
      <a class="ni-button ni-button--outline" role="button" target="_blank" href="https://bitbucket.org/cbcnewsinteractives/newsinteractives-docker-minimal/src/master/private/app/js/scrapper-1.2.0/scrapper-viz/demo.js#lines-100:139">
        <span>View demo config</span>
        <span class='ni-icon ni-icon--sm ni-icon--open_in_new' aria-label='Alert'></span>
      </a>
      <div class="scrapper-viz__chart-container">
        <div id="bar-chart"></div>
      </div>
      <a href="#" id="bar-chart-update" role="button" class="ni-pill ni-pill--outline"><span>Update data</span><span class='ni-icon ni-icon--sm ni-icon--chevron_right' aria-hidden='true'></span></a>
    </section>

    <div class="ni-divider ni-row"></div>

    <section id="section-histogram" class="ni-row">
      <h2>Histogram</h2>
      <p class="lede">Some words about when you should use this chart ipsum dolor sit amet, sem pellentesque, vulputate vestibulum, aliquam sapien elit lobortis nulla. Sit ac, ridiculus ut vel ut, erat faucibus amet nibh sem ipsum, dapibus vel magnis morbi sem, eu non vitae convallis. Quis libero dolor. Egestas praesent pede lorem nec, et commodo cras feugiat sed nec, risus elementum ligula viverra suspendisse, at mauris pede. Phasellus metus in, nunc nunc posuere curabitur amet ut.</p>
      <a class="ni-button ni-button--outline" role="button" target="_blank" href="https://bitbucket.org/cbcnewsinteractives/newsinteractives-docker-minimal/src/master/private/app/js/scrapper-1.2.0/scrapper-viz/demo.js#lines-161:189">
        <span>View demo config</span>
        <span class='ni-icon ni-icon--sm ni-icon--open_in_new' aria-label='Alert'></span>
      </a>
      <div class="scrapper-viz__chart-container">
        <div id="histogram"></div>
      </div>
      <a href="#" id="histogram-update" role="button" class="ni-pill ni-pill--outline"><span>Update data</span><span class='ni-icon ni-icon--sm ni-icon--chevron_right' aria-hidden='true'></span></a>
    </section>

    <div class="ni-divider ni-row"></div>

    <section id="section-joyplot" class="ni-row">
      <h2>Joyplot</h2>
      <p class="lede">Some words about when you should use this chart ipsum dolor sit amet, sem pellentesque, vulputate vestibulum, aliquam sapien elit lobortis nulla. Sit ac, ridiculus ut vel ut, erat faucibus amet nibh sem ipsum, dapibus vel magnis morbi sem, eu non vitae convallis. Quis libero dolor. Egestas praesent pede lorem nec, et commodo cras feugiat sed nec, risus elementum ligula viverra suspendisse, at mauris pede. Phasellus metus in, nunc nunc posuere curabitur amet ut.</p>
      <a class="ni-button ni-button--outline" role="button" target="_blank" href="https://bitbucket.org/cbcnewsinteractives/newsinteractives-docker-minimal/src/master/private/app/js/scrapper-1.2.0/scrapper-viz/demo.js#lines-206:256">
        <span>View demo config</span>
        <span class='ni-icon ni-icon--sm ni-icon--open_in_new' aria-label='Alert'></span>
      </a>
      <div class="scrapper-viz__chart-container">
        <div id="joyplot"></div>
      </div>
      <a href="#" id="joyplot-update" role="button" class="ni-pill ni-pill--outline"><span>Update data</span><span class='ni-icon ni-icon--sm ni-icon--chevron_right' aria-hidden='true'></span></a>
    </section>

    <div class="ni-divider ni-row"></div>

    <section id="section-boxplot" class="ni-row">
      <h2>Boxplot</h2>
      <p class="lede">Some words about when you should use this chart ipsum dolor sit amet, sem pellentesque, vulputate vestibulum, aliquam sapien elit lobortis nulla. Sit ac, ridiculus ut vel ut, erat faucibus amet nibh sem ipsum, dapibus vel magnis morbi sem, eu non vitae convallis. Quis libero dolor. Egestas praesent pede lorem nec, et commodo cras feugiat sed nec, risus elementum ligula viverra suspendisse, at mauris pede. Phasellus metus in, nunc nunc posuere curabitur amet ut.</p>
      <div class="scrapper-viz__chart-container">
        <div id="boxplot">TK</div>
      </div>
      {# <a href="#" id="boxplot-update" role="button" class="ni-pill ni-pill--outline"><span>Update data</span><span class='ni-icon ni-icon--sm ni-icon--chevron_right' aria-hidden='true'></span></a> #}
    </section>

    <div class="ni-divider ni-row"></div>

  </section>
</section>
