<section class="main">
  <section class="ni-hero ni-hero--compact"> {# Add .ni-hero--compact class for shorter, backgroundless hero section #}
    <div class="ni-row">
      <h1 class="type-title">How do the main parties compare on these issues?</h1>
      <p class="type-dek">Read the policies and promises of the main parties on this election's issues.<br />These will be updated as parties add to their platforms ahead of the Oct. 26 election.</p>
      {# <p class="type-byline"><span class="author">Byline</span>CBC News • Date</p> #}
      {# {% include 'structure/share-tools.twig' %} #}{# Uncomment this to display share tools under title/dek #}
    </div>
  </section>

  <section class="ni-article-container">
{#     <section class="ni-row">
      <h2>Introduction</h2>
      <p>This page shows the main components of the Scrapper site template and details on how they are used.</p>
      <p>This style guide is not meant to be an exhaustive definition of our design system. The source of truth for our design (i.e., the  Holy Design Bible) is stored on Sketch Cloud, and divided into <a href="https://sketch.cloud/s/0rYoj">foundations</a>, <a href="https://sketch.cloud/s/o5Dnn">core elements</a>, <a href="https://sketch.cloud/s/80plO">UI elements</a>, and <a href="https://sketch.cloud/s/mWKL7">content types</a>.</p>
      <p>To create a Scrapper project on your machine, refer to the readme file located in <a href="https://bitbucket.org/cbcnewsinteractives/newsinteractives-docker-minimal/">the project's Git repo.</a></p>
    </section>

    <div class="ni-divider"></div> #}

    <div class="ni-row components">
      <aside>
        <nav>
          <ul>
            <li><a class="active" href="#section-headers">Headers</a></li>
            <li><a href="#section-grid">Grid</a></li>
            <li><a href="#section-typography">Typography</a></li>
            <li><a href="#section-colors">Colors</a></li>
            <li><a href="#section-links">Links</a></li>
            <li><a href="#section-icons">Icons</a></li>
            <li><a href="#section-buttons">Buttons</a></li>
            <li><a href="#section-pills">Pills</a></li>
            <li><a href="#section-forms">Forms</a></li>
            <li><a href="#section-viz">Dataviz</a></li>
            <li><a href="#section-tables">Tables</a></li>
          </ul>
        </nav>
      </aside>

      <section class="components-content">
        <section id="section-headers" class="ni-row">
          <h2>Headers</h2>
          <p>The header include in index.twig allows you to set one of three styles as well as some other (rarely changed) configuration variables. By default, we use the dark header style which sits at the top of the page statically.</p>
          <div class="header-styles">
            {% include 'structure/scrapper-1.2.0/header/cbc-header.twig' %}
            {% include 'structure/scrapper-1.2.0/header/cbc-header.twig' with { 'style': 'light' } %}
            {% include 'structure/scrapper-1.2.0/header/cbc-header.twig' with { 'style': 'transparent' } %}
          </div>
          <div class="code-and-comments code-and-comments--split">
            <pre><code class="language-twig">
{% verbatim %}
{% include 'structure/scrapper-1.2.0/header.twig' with {
  'entrypoint': 'app',
  'style': 'dark',
  'include_stats': site_config.get('[pub][enableTracking]'),
  'include_cbcheader': 1
} %}
{% endverbatim %}
            </code></pre>
            <div class="comments">
              <ul>
                <li><p><code class="hljs">entrypoint</code> — Allows you to set an alternative entrypoint javascript file other than the default app.js (this is configured in webpack.config.js).</p></li>
                <li><p><code class="hljs">style</code> — One of <code>dark</code>, <code>entrypoint</code>, or <code>entrypoint</code>.</p></li>
                <li><p><code class="hljs">include_stats</code> — This typically pulls the enableTracking variable in cbc.config.yml, determining whether to include the CBC anayltics package.</p></li>
                <li><p><code class="hljs">include_cbcheader</code> – Set to 0 to hide the visual header (but still include all of the necessary stuff in between the head tags).</p></li>
              </ul>
            </div>
          </div>
        </section>

        <div class="ni-divider ni-row"></div>

        <section id="section-grid" class="ni-row">
          <h2>Grid</h2>
          <p>There is wide support for CSS grid and the web has moved toward using it as a standard layout solution. Scrapper provides a set of mixins (located in <code>base/_grid.scss</code>) which were initially created to provide backwards compatibility with IE11. We no longer support IE so you may use <code>display: grid;</code>. The below examples use our grid mixins to implement basic fixed and auto-flowing layout in CSS grid. If you don't care about IE11 you can use the CSS grid attributes directly.</p>
          <p>By default, we have three separate breakpoints for small, medium, and large screens (defaulting to small screens). Our grid uses twelve columns across all breakpoints. The grid gutter should be set to 1rem, 1.5rem, and 2rem respectively for small, medium, and large.</p>
          <p>Please take a look at the design system for more details on our <a href="https://sketch.cloud/s/0rYoj/a/rOWEdA">grid system</a> and standards for <a href="https://sketch.cloud/s/0rYoj/a/DlD2bq">spacing/vertical rhythym.</a></p>
          <h3>Fixed grid layout</h3>
          <div class="ni-grid-parent">
            <div>1</div>
            <div>2</div>
            <div>3</div>
          </div>

          <h3>Auto (multi-row) grid layout</h3>
          <div class="ni-grid-parent-auto">
            <div>1</div>
            <div>2</div>
            <div>3</div>
            <div>4</div>
            <div>5</div>
          </div>
        </section>

        <div class="ni-divider ni-row"></div>

        <section id="section-typography" class="ni-row">
          <h2>Typography</h2>
          <p>You should ensure your page follows a strict hierachy of heading tags, with exactly one h1 tag and no nested tag with a level higher than its parent.</p>
          <ul class="type-styles">
            <li>
              <h1 class="type-title">Page title</h1>
            </li>
            <li>
              <h2 class="type-dek">Dek; A short bit of text below the title</h2>
            </li>
            <li>
              <p class="type-byline type-overline"><span class="author">Byline</span>CBC News • Date</p>
            </li>
            <li>
              <h3 class="type-subhead">Subhead</h3>
            </li>
            <li>
              <p class="type-lede">Lede paragraph</p>
            </li>
            <li>
              <p class="type-paragraph">Paragraph</p>
            </li>
            <li>
              <p class="type-eyebrow">Eyebrow heading</p>
            </li>
            <li>
              <p>This paragraph has a tombstone, an optional graphic element that marks the end of a longer article.<span class="type-tombstone"></span></p>
            </li>
            <li>
              <p class="type-label">Label</p>
            </li>
            <li>
              <p class="type-caption ">Caption</p>
            </li>
            <li>
              <figcaption class="type-figcaption">Figcaption, which is a caption with the appropriate padding and border.</figcaption>
            </li>
            <li>
              <p class="type-data">Data</p>
            </li>
          </ul>
        </section>

        <div class="ni-divider ni-row"></div>

        <section id="section-colors" class="ni-row">
          <h2>Colors</h2>
          <p>In addition to the block and inline link styles below, there are additional styles in the footer. Those links appear less styled as the accessibility requirements to show they are links are less strenuous (since the links are grouped together).</p>
          <a href="https://www.fake-website.com" class="block-link">This is a block link used often in lists of links</a>
          <br /><br />
          <p>This is an example of an <a href="https://www.fake-website.com">inline link</a> within a block of copy.</p>
        </section>

        <div class="ni-divider ni-row"></div>

        <section id="section-links" class="ni-row">
          <h2>Links</h2>
          <p>In addition to the block and inline link styles below, there are additional styles in the footer. Those links appear less styled as the accessibility requirements to show they are links are less strenuous (since the links are grouped together).</p>
          <a href="https://www.fake-website.com" class="block-link">This is a block link used often in lists of links</a>
          <br /><br />
          <p>This is an example of an <a href="https://www.fake-website.com">inline link</a> within a block of copy.</p>
        </section>

      </section>
    </div>

</section>
