{% include 'structure/scrapper-1.2.0/header.twig' with {
    'entrypoint': 'app',
    'style': 'dark',
    'include_stats': site_config.get('[pub][enableTracking]'),
    'include_cbcheader': 1
} %}
{# 'style': 'light' || 'style': 'transparent' #}
<script type="text/javascript">
window.config = {{ site_config }};
</script>

{# Election discovery module #}
 {% include 'partials/discovery.twig' %}

{# Page content  #}
<main role="main">
    <article>
        {# Replace this style guide with your content #}
       
        {% include 'partials/main.twig' %}

        {% include 'structure/scrapper-1.2.0/body-footer.twig' with {
            'include_credits': 1,
            'include_jsp': 1,
            'include_related': 1,
            'include_backtotop': 1
        } %}
    </article>
</main>

{# Footer #}
{% include 'structure/scrapper-1.2.0/footer.twig' with {
    'include_stats': site_config.get('[pub][enableTracking]')
} %}
