
<% data.issues.forEach(function(issue){ %>
    <section id="section-<%= slugify(issue.label) %>" class="issue-heading-container ni-row">
        <picture>
            <source media="(min-width: 980px)" srcset="assets/images/issue<%= slugify(issue.label) %>-945.jpg">
            <source media="(max-width: 980px)" srcset="assets/images/issue<%= slugify(issue.label) %>-600.jpg">
            <img src="assets/images/issue<%= slugify(issue.label) %>-945.jpg" alt="<%= issue.label %>" style="width:100%;">
        </picture>
        <h2><%= issue.label %></h2>
        <div class="ni-grid-parent-auto">
            <% issue.positions.forEach(function(position){ %>
                <div>
                    <span class="arrow arrow-<%= slugify(position.party) %>"></span>
                    <h3><%= position.party %></h3>
                    <p><%- position.detail_position %></p>

                <% /* %>

                if you want analysis on every position

                <% if (position.detail_analysis != 0) { %>
                    <h4>Analysis</h4>
                    <p><%- position.detail_analysis %></p>
                <% } else { %>
                    <% } %>
                end commenting out
                <% */ %>

                </div>

            <% }) %>
        </div>

    <% if (issue.analysis.length != 0) { %>

    <div class="ni-grid-parent analysis" id="<%- issue.label.toLowerCase().replace(/ /g, '-') %>">
    <p class="fadeout"></p>

        <div> 
         <button class="buttonContainer ni-button" aria-expanded="false" aria-controls="<%- issue.label.toLowerCase().replace(/ /g, '-') %>"><span class="arrowIcon">
                  <span class="leftBar"></span>
                  <span class="rightBar"></span>
                </span>
                   <div class="read-more button">Show analysis</div>

               
            </button>


         
        <p class="byline" ><%- issue.analyst_name %><br /><%- issue.analyst_affiliation %></p>
        </div>

  

        <div>  
            <p class="analysis"><%- issue.analysis %></p>


 <% if (issue.links.length != 0) { %>
        <div class="issue-related">  
            <h3>Related</h3>
                <ul>
                    <% issue.links.forEach(function(link){ %>      
                        <li style="background: url(assets/images/bullet.gif) no-repeat left 4px;") no-repeat left 4px;>
                            <a href="<%= slugify(link.link_url) %>" tabindex="-1" aria-hidden="true"> 
                                <%= link.link_text %>
                            </a>      
                        </li>  
                    <% }) %>
                </ul>
        </div>
    <% } else { %>
<% } %>


        </div>



    </div>

        <% } else { %>
<% } %>



    </section>
<% }) %>


<% if (data.changes.length != 0) { %>

        <div id="issue-changelog" class="ni-row issue-heading-container" data-scrollama-index="0">

            <h4>UPDATES TO THIS FEATURE</h4>

                <% data.changes.forEach(function(change){ %>
                <div class="changelog">
                    <span class="date"><%= change.created_at %></span> <%= change.text %>
                </div>
              
            <% }) %>
        </div>
    <% } else { %>
<% } %>


