// Styles for the scrapper viz demo page. Not generally applicable to actual projects.

.scrapper-viz {
  section:not(.ni-article-container):not(.ni-hero), .ni-divider {
    margin-bottom: 4rem;

    > h2, > h3 {
      margin-bottom: 0.5rem;
    }
  }

  .lede {
    max-width: 50ch;

    @media all and (min-width: #{$screen-md-min}) {
      max-width: 85ch;
    }
  }

  a.ni-button.ni-button--outline {
    margin-bottom: 2rem;
  }

  &__chart-container + a.ni-pill {
    margin-left: 3rem;
  }

  &__chart-container {
    @include grid-child-auto-responsive(12, 12, 9, 9);
  }
}
