/*
 * This file contains styles specific to the style guide for this
 *  starter template; You may find some useful code snippets in here
 *  but it can generally be disabled for your project.
 */

// Unset hidden overflow-x because `position: sticky` breaks with it
body, html {
  overflow-x: inherit;
}

.style-guide {
  section:not(.ni-article-container):not(.ni-hero), .ni-divider {
    margin-bottom: 4rem;

    > h2, > h3 {
      margin-bottom: 0.5rem;
    }
  }

  p {
    max-width: 50ch;

    @media all and (min-width: #{$screen-md-min}) {
      max-width: 85ch;
    }
  }

  code {
    display: block;
    padding: 1rem;
    border-radius: 0.25rem;

    span.xml {
      display: none;
    }
  }

  p code {
    display: inline;
    padding: 0.125rem;
  }

  .components {
    @include grid-parent-auto;

    > aside {
      @include grid-child-auto-responsive(12, 2, 2, 2);
    }

    > section {
      @include grid-child-auto-responsive(12, 10, 10, 10);
    }
  }

  aside nav {
    position: sticky;
    top: 2rem;

    li a {
      @extend .type-byline;

      text-decoration: none;
      display: block;
      padding: 0.5rem 1rem;
    }

    li a.active {
      color: map-get($c-scale-neutral, 'text-10');
      background-color: map-get($c-scale-neutral, 'fill-10');
      text-decoration: underline;
    }

    li a.active:hover {
      color: map-get($c-scale-neutral, 'text-10');
      background-color: map-get($c-scale-neutral, 'fill-10');
      text-decoration: underline;
    }

    li a:focus {
      background: map-get($c-scale-neutral, 'fill-10');
    }
  }

  .code-and-comments {
    &--split {
      @include grid-parent-auto;

      > * {
        @include grid-child-auto-responsive(12, 12, 6, 6);
      }
    }

    p {
      @extend .type-byline;
    }
  }

  #section-grid {
    .ni-grid-parent, .ni-grid-parent-auto {
      margin-bottom: 1rem;

      > div {
        outline: 2px solid map-get($c-scale-neutral, 'fill-7');
        margin-bottom: 1rem;
        display: flex;
        justify-content: center;
        padding: 0.5rem;
        color: map-get($c-scale-neutral, 'fill-4');
        font: 400 12px/12px $base-font-family;
        font-style: italic;
      }
    }

    // Uses the .grid-parent helper class. You may want to not use this class and
    //  add the grid-parent() mixin to the container class directly (e.g. if you
    //  want to disable grid for certain breakpoints)
    .ni-grid-parent {
      // Here we specify exactly which grid columns we want each grid element to live
      > div:first-child {
        @include grid-child-responsive(1, 2, 1, 3, 2, 3);
      }

      > div:nth-child(2) {
        @include grid-child-responsive(3, 8, 4, 6, 5, 4);
      }

      > div:nth-child(3) {
        @include grid-child-responsive(11, 2, 10, 3, 9, 3);
      }
    }

    // For these elements, we specify the grid column width for each element and the container
    //  automatically lays them out. This is especially useful for multiple rows of content
    .ni-grid-parent-auto > div {
      @include grid-child-auto-responsive(12, 4, 4, 4);
    }
  }

  .header-styles {
    .ni-header {
      margin-bottom: 1rem;

      .ni-share-tools__popup {
        display: none;
      }
    }
  }

  .type-styles {
    li {
      margin-bottom: 1rem;
      padding-left: 1rem;
      border-left: 1px solid map-get($c-scale-neutral, 'fill-6');
    }
  }

  .icon-styles > div {
    @include grid-child-auto-responsive(6, 4, 3, 3);

    align-items: center;
    flex-flow: row wrap;
    outline: 0;

    .icon {
      margin: 0 8px;
    }

    pre {
      width: 100%;
      text-align: center;
      margin: 8px;
    }
  }

  .button-row, .pill-row {
    display: flex;
    vertical-align: top;
    margin-bottom: 1rem;

    > * {
      margin-right: 0.5rem;
    }
  }

  form {
    @include grid-child-responsive(1, 12, 1, 6, 1, 4);
  }
}
