nav.o-nav__dropdown {
  padding-bottom: .5rem;
  padding-left: 1em;
  margin-bottom: .5rem;
  box-shadow: 0px 3px 4px 0 rgba(0, 0, 0, .18);
  background-color: $c-white;

  @media all and (min-width: #{$screen-lg-min}) {
    display: none;
  }

  &.stuck {
    position: fixed;
    z-index: 2;
    padding-top: .5em;
    padding-left: 1em;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 3px 4px 0 rgba(0,0,0,.18);
  }

  label {
    font-size: .9rem;
    padding-bottom: .5rem;
  }

  // select {
  //   padding: .3rem .5rem;
  //   font-size: 1rem;
  // }
}

@media (min-width: 666px) {
nav.o-nav__dropdown {
    display:none;
}

}



.c-label {
    padding: 0;
    font-family: Open Sans,sans-serif;
    font-size: .75rem;
    font-style: normal;
    font-weight: 600;
    letter-spacing: .02125rem;
    line-height: 1.75rem;
    cursor: pointer;
}

select.c-field {
    padding-right: 1.5em;
    background: url(data:image/png;base64,R0lGODlhDwAUAIABAAAAAP///yH5BAEAAAEALAAAAAAPABQAAAIXjI+py+0Po5wH2HsXzmw//lHiSJZmUAAAOw==) no-repeat 96% 50%;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: "";
    cursor: pointer;
    width: calc(100% - 1rem);
    height:2.5rem;
    margin: 0;
    padding: .3rem .5rem;
    padding-right: 1.5em;
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    outline: 0;
    background-color: #fff;
    font-size:1rem;
    font-weight: 400;
    resize: vertical;
    appearance: none;
}

.c-field, .o-nav__dropdown label {
    display: inline-block;
}




// Toggle a spacer to active when the nav is stuck (so the content doesn't jump up)
nav.o-nav__dropdown ~ .o-nav__filler {
  display: none;
  height: 103px;
}

nav.o-nav__dropdown.stuck ~ .o-nav__filler {
  display: block;
}
