.ni-chart {
  position: relative;

  text {
    @extend .type-data;

    color: $c-primary;
  }

  &__tooltip {
    position: absolute;
    background-color: $c-white;
    border: 2px solid $c-primary;
    padding: 0.5rem;
  }
}
