{# Everything below should generally be included in each project #}

{# Credits / JSP links #}
{% if include_credits or include_jsp %}
<div class="ni-administrative">
    <div class="contents">
        {% if include_credits %}
            {# credits #}
            {% include 'structure/scrapper-1.2.0/body-footer/credits.twig' %}
        {% endif %}

        {% if include_jsp %}
            {# JSP #}
            {% include 'structure/scrapper-1.2.0/body-footer/jsp.twig' %}
        {% endif %}
    </div>
</div>
{% endif %}


{% if include_related %}
    {# related #}
    {% include 'structure/scrapper-1.2.0/body-footer/related.twig' %}
{% endif %}

{% if include_backtotop %}
    {# Back to top button -- Uncomment here and in app.js to display #}
    {% include 'structure/scrapper-1.2.0/body-footer/back-to-top.twig' %}
{% endif %}
