<!DOCTYPE html>
<html lang="en">

<head>
	{% include 'structure/scrapper-1.2.0/header/head.twig' %}
	{% include 'public/generated/webpack.twig' %}
</head>

<body class="antialiased">
	{# Header #}
	{% if include_cbcheader %}
		{% include 'structure/scrapper-1.2.0/header/cbc-header.twig' %}
		{# {% include 'structure/scrapper-1.2.0/header/cbc-header.twig' with { 'style': 'transparent' } %} #}
	{% endif %}

	{# Graceful page fail for IE10 and below  #}
	{% include 'structure/scrapper-1.2.0/header/IE-fallback.twig' %}

	{# Longform sub nav if desired #}
	{# <nav class="hub-nav" role="navigation"></nav> #}
