<!--Here there be tracking variables -->
{% if site_config.get('[pub][enableTracking]') == true %}
	<script type="text/javascript" src="https://www.cbc.ca/g/stats/js/cbc-stats-top.js"></script>
			<script type="text/javascript">
			try{
			if(!CBC) { var CBC = {}; }
			if(!CBC.APP) { CBC.APP = {}; }
			if(!CBC.APP.SC) { CBC.APP.SC = {}; }
			if(!CBC.APP.SC.DTM) { CBC.APP.SC.DTM = {}; }
			if(!CBC.APP.SC.DTM.DATA) { CBC.APP.SC.DTM.DATA = {}; }
			CBC.APP.SC.DTM.DATA = {
				appname:"newslabs-web-app",
				contentarea: "news",
				contentid:" 4c85b92e-074c-11ec-9a03-0242ac130003  ",
				contenttype: "feature",
				keywords : [
				   {
				    "name":"Subject",      
				    "entities":[
				           {"name":"Government and politics/Elections/National elections/Canadian federal elections/Canada Votes 2021"}
				       ]
				   }
				],
				publishedTime: 1630584000000,
				subsection1: "Politics",
				title: "Compare the party platforms on these top election issues",
				url: document.location.href,
				updatedTime: 1630584000000
				}
			}catch(e){
			if (typeof(console) !== "undefined"){
			console.log(e);
			}
			}
			</script>

	<script type="text/javascript" src="//www.cbc.ca/g/stats/js/cbc-stats-bottom.js"></script>

	<!-- Comscore Start -->
	<script type="text/javascript" src="https://sb.scorecardresearch.com/beacon.js"></script>
	<script type="text/javascript">
		if (typeof advertising_zone != 'string'){
			var advertising_zone = '';
		}
		COMSCORE.beacon({c1:2,c2:3005684,c3:"",c4:escape(window.location.href),c5:"CBC.ca-CanadianNewsSportsEntertainmentKidsDocsRadioTV",c6:advertising_zone,c7:escape(window.location.href),c8:escape(document.title),c9:escape(document.referrer),c15:""});
	</script>

	<!-- Comscore End -->

	<script src="https://js-sec.indexww.com/ht/cbc.js" type="text/javascript"></script>
	<script type="text/javascript" src="//www.cbc.ca/includes/ads/gpt.js"></script>

{% endif %}
