/* === BODY DEFAULTS === */
body {
  font: 400 $base-font-size/$base-line-height $base-font-family;
  -webkit-text-size-adjust: 100%;

  &.no-scroll {
    overflow: hidden;
  }
}

body, html {
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

html:not([data-whatintent='keyboard']) *:focus {
  outline: none;
}

article {
  background-color: map-get($c-scale-neutral, 'fill-10');
}

*, *::before, *::after {
  box-sizing: border-box;
}

img {
  display: inline-block;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}
