/* FUNCTIONS */

/* automates calculation in to rem with fallback to px */
@function calculate-rem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

/* MIXINS */

// Since you can't @extend in media queries, this is a mixin
@mixin visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  max-width: 1px;
}

/* === FONT UTILS: Mixins and functions === */
@mixin truncateText($overflow: ellipsis) {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: $overflow; // values are: clip, ellipsis, or a string
}

/* ===FONT AND REM SIZES ===*/
@mixin font-size($size) {
  font-size: $size;
  font-size: calculate-rem($size);
}

/* === GRADIENTS === */
@mixin radial-gradient($light-clr, $dark-clr) {
  background: $light-clr; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, $light-clr 0%, $dark-clr 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,$light-clr), color-stop(100%,$dark-clr)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, $light-clr 0%,$dark-clr 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, $light-clr 0%,$dark-clr 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, $light-clr 0%,$dark-clr 100%); /* IE10+ */
  background: radial-gradient(ellipse at center, $light-clr 0%,$dark-clr 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$light-clr', endColorstr='$dark-clr',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

@mixin linear-gradient($light-clr, $dark-clr) {
  /* Fallback (could use .jpg/.png alternatively) */
  background-color: $light-clr;

  /* SVG fallback for IE 9 (could be data URI, or could use filter) */
  //background-image: url(fallback-gradient.svg);

  /* Safari 4, Chrome 1-9, iOS 3.2-4.3, Android 2.1-3.0 */
  background-image:
    -webkit-gradient(linear, left top, right top, from($light-clr), to($dark-clr));

  /* Safari 5.1, iOS 5.0-6.1, Chrome 10-25, Android 4.0-4.3 */
  background-image:
    -webkit-linear-gradient(left, $light-clr, $dark-clr);

  /* Firefox 3.6 - 15 */
  background-image:
    -moz-linear-gradient(left, $light-clr, $dark-clr);

  /* Opera 11.1 - 12 */
  background-image:
    -o-linear-gradient(left, $light-clr, $dark-clr);

  /* Opera 15+, Chrome 25+, IE 10+, Firefox 16+, Safari 6.1+, iOS 7+, Android 4.4+ */
  background-image:
    linear-gradient(to right, $light-clr, $dark-clr);
}

@mixin linear-gradient-vertical($light-clr, $dark-clr){
  /* Fallback (could use .jpg/.png alternatively) */
  background-color: $light-clr;

  /* SVG fallback for IE 9 (could be data URI, or could use filter) */
  //background-image: url(fallback-gradient.svg);

  /* Safari 4, Chrome 1-9, iOS 3.2-4.3, Android 2.1-3.0 */
  background-image:
    -webkit-gradient(linear, top, bottom, from($light-clr), to($dark-clr));

  /* Safari 5.1, iOS 5.0-6.1, Chrome 10-25, Android 4.0-4.3 */
  background-image:
    -webkit-linear-gradient(top, $light-clr, $dark-clr);

  /* Firefox 3.6 - 15 */
  background-image:
    -moz-linear-gradient(top, $light-clr, $dark-clr);

  /* Opera 11.1 - 12 */
  background-image:
    -o-linear-gradient(top, $light-clr, $dark-clr);

  /* Opera 15+, Chrome 25+, IE 10+, Firefox 16+, Safari 6.1+, iOS 7+, Android 4.4+ */
  background-image:
    linear-gradient(to bottom, $light-clr, $dark-clr);
}

// $transition-time = 300;

/* === SHAPES === */
/*
* @include triangle within a pseudo element and add positioning properties (ie. top, left)
* $direction: up, down, left, right
* from: http://hackingui.com/front-end/10-best-scss-utilities/
*/
@mixin triangle($direction, $size: 6px, $color: #222){
  content: '';
  display: block;
  position: absolute;
  height: 0;
  width: 0;

  @if ($direction == 'up') {
    border-bottom: $size solid $color;
    border-left: 1/2*$size solid transparent;
    border-right: 1/2*$size solid transparent;
  }

  @else if ($direction == 'down') {
    border-top: $size solid $color;
    border-left: 1/2*$size solid transparent;
    border-right: 1/2*$size solid transparent;
  }

  @else if ($direction == 'left') {
    border-top: 1/2*$size solid transparent;
    border-bottom: 1/2*$size solid transparent;
    border-right: $size solid $color;
  }

  @else if ($direction == 'right') {
    border-top: 1/2*$size solid transparent;
    border-bottom: 1/2*$size solid transparent;
    border-left: $size solid $color;
  }
}

@mixin twoRoundedCorners() {
  border-top-right-radius: $base-border-radius;
  border-bottom-left-radius: $base-border-radius;

  @media all and (min-width: #{$screen-md-min}) {
    border-top-right-radius: $base-border-radius-lg;
    border-bottom-left-radius: $base-border-radius-lg;
  }
}
