//
// Type defaults
//
p {
  @extend .type-paragraph;

  margin-bottom: 0.875em;
}

p a {
  @extend .type-link;
}

h1 {
  @extend .type-title;
}

h2 {
  @extend .type-subhead;
}

h3 {
  @extend .type-sub-subhead;
}

figcaption {
  @extend .type-figcaption;
}

//
// Various typographic styles that can be @extend'ed by your CSS or included directly in in your markup
//

// Used for feature title
.type-title {
  font: 700 1.5rem/2rem $base-font-family;
  color: map-get($c-scale-neutral, 'fill-1');

  @media all and (min-width: #{$screen-lg-min}) {
    font: 700 3.75rem/4.25rem $base-font-family;
    letter-spacing: -0.1rem;
  }
}

// Used for article dek
.type-dek {
  font: 400 1rem/1.5rem $base-font-family;
  color: map-get($c-scale-neutral, 'fill-3');

  @media all and (min-width: #{$screen-md-min}) {
    font: 400 1.5rem/2rem $base-font-family;
    color: map-get($c-scale-neutral, 'fill-4');
  }
}

// Used for content subheadings
.type-subhead {
  font: 700 1.25rem/1.75rem $base-font-family;
  color: map-get($c-scale-neutral, 'fill-1');

  @media all and (min-width: #{$screen-md-min}) {
    font: 700 1.5rem/2rem $base-font-family;
  }
}

.type-sub-subhead {
  font: 700 1rem/1rem $base-font-family;
  color: map-get($c-scale-neutral, 'fill-1');

  @media all and (min-width: #{$screen-md-min}) {
    font: 700 1.25rem/1.75rem $base-font-family;
  }
}

// Used for e.g. footer column headings
.type-tinyheading {
  font: 700 0.875rem/1.25rem $base-font-family;
  letter-spacing: 0.008125rem;
}

// The first paragraph of an article (not always used)
.type-lede {
  font: 400 1rem/1.5rem $base-font-family;
  color: map-get($c-scale-neutral, 'fill-4');

  @media all and (min-width: #{$screen-md-min}) {
    font: 400 1.25rem/1.75rem $base-font-family;
  }
}

// Used for body copy
.type-paragraph {
  font: 400 1rem/1.5rem $base-font-family;
  color: map-get($c-scale-neutral, 'fill-2');
}

// An eyebrow heading that appears above some subheads
.type-eyebrow {
  font: 600 0.75rem/1rem $base-font-family;
  letter-spacing: 0.1125rem;
  text-transform: uppercase;
  color: map-get($c-variable, 'fill-4');
}

.type-tombstone {
  display: inline-block;
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 0 0 100% 0;
  margin-left: 0.5rem;
  background-color: map-get($c-variable, 'fill-4');
}

// Used for article bylines
.type-byline {
  font: 400 0.875rem/1.25rem $base-font-family;
  color: map-get($c-scale-neutral, 'fill-4');

  strong, .author {
    font-weight: 700;
    display: block;
  }
}

// Additional class to add to your type style to add an overline
.type-overline {
  position: relative;
  padding-top: 0.5rem;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 2px;
    width: 3rem;
    background-color: map-get($c-variable, 'fill-4');
  }
}

// Used for text labels in buttons, forms and other UI components
.type-label {
  font: 600 0.875rem/1.125rem $base-font-family;
  color: map-get($c-scale-neutral, 'fill-1');
}

// Used for photo captions and UI components
.type-caption {
  font: 400 0.875rem/1.25rem $base-font-family;
  color: map-get($c-scale-neutral, 'fill-4');
}

.type-figcaption {
  @extend .type-caption;

  display: inline-block;
  padding: 1rem 0;
  border-bottom: 1px solid map-get($c-scale-neutral, 'fill-8');
}

// Used for data in charts, graphs, and data viz's
.type-data {
  font: 400 0.75rem/1rem $base-font-family;
}

// Generic link styling
.type-link {
  @extend .type-paragraph;

  color: $c-action-blue;
  text-decoration: none;
  box-shadow: inset 0 -1px 0 map-get($c-scale-neutral, 'fill-7');
  transition: all 0.1s $default-transition-easing;

  &:hover {
    box-shadow: inset 0 -1px 0 $c-action-blue;
  }

  &:active {
    background-color: map-get($c-scale-neutral-alpha, 'fill-9');
    box-shadow: inset 0 -1px 0 $c-action-blue;
  }
}

.block-link {
  @extend .type-link;

  font-weight: 700;
  color: $c-primary;
  box-shadow: none;

  &:focus, &:hover, &:active {
    color: $c-action-blue;
  }
}
