/* === UTILITY CLASSES === */
.important-hide {
  display: none !important;
}

.a11y {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

ul.no-bullet {
  list-style-type: none;
}
