/* Base Font */
$base-font-family: 'Open Sans', Arial, Helvetica, sans-serif;
$base-font-weight: normal;
$base-font-size: 16px;
$base-line-height: 24px;
$base-font-color: $c-primary;

/* Base sizes */
$screen-md-min: 667px;
$screen-lg-min: 1024px;

$grid-gutter: 1rem;
$grid-gutter-md: 1.5rem;
$grid-gutter-lg: 2rem;
$grid-max-width: 80rem;

$base-padding: $grid-gutter;
$base-padding-md: $grid-gutter-md;
$base-padding-lg: $grid-gutter-lg;
$base-border-radius: 4px;
$base-border-radius-lg: 8px;

/* Component sizes */
$header-height: 3.5rem;

/* Transition/animation settings */
$default-transition-speed: 0.25s;
$default-transition-easing: ease-in-out;

/* Elevation styles for box shadows */
$elevation-z02: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
$elevation-z04: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
$elevation-z06: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
$elevation-z08: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
