<svg height="24" viewBox="0 0 24 24" width="24" focusable="false" xmlns="http://www.w3.org/2000/svg"><path d="m20 4h-16c-1.1 0-1.99.9-1.99 2l-.01 12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2v-12c0-1.1-.9-2-2-2zm0 4-8 5-8-5v-2l8 5 8-5z" fill="#6fa251" fill-rule="evenodd"/></svg>
