<svg height="24" viewBox="0 0 24 24" width="24" focusable="false" xmlns="http://www.w3.org/2000/svg"><path d="m16.0464868 12.4181135h-2.5950397v8.5818865h-3.89783529v-8.5812658h-1.94333157v-3.24612719h1.94333157v-1.95450372c0-2.64034894 1.09735239-4.21810329 4.21810329-4.21810329h2.5950397v3.24612716h-1.6230636c-1.2115564 0-1.2916234.45681637-1.2916234 1.30341626v1.62306359h2.937652z" fill="#3b5998"/></svg>
