<button class="ni-back-to-top" aria-label="Back to top of page" style="opacity: 0;">
  <svg class="arrow" width="16" height="16" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" focusable="false">
    <defs><path id="a-gh3i" d="M4 12l1.41 1.41L11 7.83V20h2V7.83l5.58 5.59L20 12l-8-8z"/></defs>
    <g transform="translate(-4 -4)" fill="none" fill-rule="evenodd">
      <path d="M0 0h24v24H0z"/>
      <mask id="b-fk43" fill="#fff"><use xlink:href="#a-gh3i"/></mask>
      <use fill="#222" xlink:href="#a-gh3i"/>
      <g class="arrow-icon" mask="url(#b-fk43)" fill="#222" fill-rule="nonzero">
        <path d="M0 0h24v24H0z"/>
      </g>
    </g>
  </svg>

  <svg class="circle" width="64" height="64" xmlns="http://www.w3.org/2000/svg" focusable="false">
    <circle cx="32" cy="32" r="31" stroke="#222" stroke-width="2" fill="none" fill-rule="evenodd"/>
  </svg>
</button> 
