<section class="ni-administrative__credits">
  <p class="type-byline"><strong>Written by</strong>: Ryan Maloney • <strong>Design and development</strong>: Richard Grasley, Nae Phillips, Micheline Parent, Matt Crider, Andrew Ryan, Dwight Friesen, CBC News Labs</p>
</section>