<section class="ni-administrative__jsp-links">
  <ul>
    <li><a href="https://cbc.radio-canada.ca/en/vision/governance/journalistic-standards-and-practices">CBC's Journalistic <span class="s-and-p">Standards and Practices</span></a></li>
    <li><a href="https://www.cbc.ca/news/about-cbc-news-1.1294364">About CBC News</a></li>
    <li><a href="javascript:location.href='//www.cbc.ca/news2/feedback/index_typo.html?' + document.title + ' – ' + new Date().toString();">Report Typo or Error</a></li>
    <li><a href="//cbchelp.cbc.ca/hc/en-us/requests/new">Send Feedback</a></li>
  </ul>
</section>
