<section id="section-related" class="ni-related" data-qID="{{ site_config.get('[related][pubqueueID]') }}">
  <div class="ni-row">
    <h2>{{ site_config.get('[related][relatedLabel]') }}</h2>
  </div>

  {# Links will be dynamically injected into here #}
  <div class="articles-list ni-row"></div>
</section>
